<%= render "layouts/header"%>
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>my account</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">my account</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="pg-body">
      <div class="container">
         <div class="row">
            <div class="container">
               <table class="user-info">
                  <tr>
                     <td class="picture">
                        <% if current_customer %>
                              <div class="img-cover"><%= image_tag (current_customer.avatar_thumbnail) %></div>
                        <% end %>
                        <% if current_customer == nil %>
                            <h6 class="name"> User Name </h6>
                        <% else %>
                            <h6 class="name"><%= current_customer.first_name %> <%= current_customer.last_name %></h6>
                        <% end %>
                        <div class="change-picture">
                            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, :class => "theme-form", multipart: true) do |f| %>
                                <i class="fa fa-camera-retro"></i><a>Change picture</a>
                                <%= f.file_field :avatar, label: "Change Picture", :style => "display: none;" %>
                        </div>
                     </td>
                     <td>
                        <div class="col-xs-12 wellcome">
                           <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                              <h4><% if Time.now.strftime("%H") <= "11" %> Good Morning <% elsif Time.now.strftime("%H") > "11" && Time.now.strftime("%H") <= "17" %> Good Afternoon <% else %> Good Evening  <% end %> <span><%= current_customer.first_name %> </span></h4>
                              <p>Welcome to your account. Here you can 
                              manage all of your personal information.</p>
                           </div>
                           <div class="col-lg-5 col-xs-12 col-sm-6 pull-right">
                              <div class="row">
                                 <div class="col-xs-12 col-sm-6">
                                    <p class="my-orders"><b>My Orders:</b></p>
                                    <p>You have <%= pluralize(current_cart.items_count, 'item') %> item in your cart</p>
                                 </div>
                                  <% if current_cart.order.items.empty? %>
                                      <div class="col-xs-12 col-sm-6 view-cart">
                                             <%= link_to "SHOP NOW", products_path, :class => "btn btn-sec-col" %>
                                      </div>
                                         <% else %>
                                      <div class="col-xs-12 col-sm-6 view-cart">
                                             <%= link_to cart_path, :class => "btn btn-sec-col" do %>  <i class="ti-shopping-cart"></i>&nbsp;&nbsp;VIEW CART <% end %>
                                      </div>
                                  <% end %>
                              </div>
                           </div>
                        </div>
                        <div class="col-xs-12 last">
                           <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                              <p>Last loged on:<span><%= current_customer.last_sign_in_at ? current_customer.last_sign_in_at.in_time_zone("Nairobi").strftime("%d.%m.%Y - %H:%M %P") : "---" %></span></p>
                           </div>
                           <div class="col-lg-5 col-xs-12 col-sm-6 pull-right">
                              <div class="row">
                                <% if current_customer.orders.last != nil %>
                                        <p class="col-xs-12">Last item ordered: <span><%= current_customer.orders.last.items.first.product.product_name %></span> <span class="price"><%= number_to_currency(current_customer.orders.last["order_subtotal"].to_s, unit: ' KES ') %></span></p>
                                    <% else %>
                                        <p class="col-xs-12"> Last item ordered: <b> No items ordered! </b> </p> 
                                <% end %>
                              </div>
                           </div>
                        </div>
                     </td>
                  </tr>
               </table>
            </div>
         </div>
         <div class="row">
            <div class="col-xs-12 col-md-2 left-menu">
               <a href="<%= edit_customer_registration_path %>"><div class="active"><i class="fa fa-user-o"></i><br><span>YOUR PROFILE</span></div></a>
               <a href="<%= wishlists_path %>"><div><i class="fa fa-heart-o"></i><br><span>WISHLIST</span></div></a>
               <a href="<%= order_history_path %>"><div><i class="fa fa-clock-o"></i><br><span>HISTORY</span></div></a>
            </div>
            <div class="col-md-10 col-sm-12 col-xs-12 register-page">
                <div class="theme-card">
                    <div class="row">
                        <div class="col-lg-6">
                        <h3 class="checkout-title">personal details</h3>
                            <div class="form-group">
                                <b><%= f.label :first_name %></b>
                                <%= f.text_field :first_name, required: true, :class => "form-control" %>
                            </div>
                            <div class="form-group">
                                <b><%= f.label :last_name %></b>
                                <%= f.text_field :last_name, required: true, :class => "form-control" %>
                            </div>
                            <div class="form-group">
                                <b><%= f.label :phone %></b>
                                <%= f.number_field :phone, required: true, :class => "form-control" %>
                            </div>
                            <div class="form_group">
                                <b><%= f.label :email %></b>
                                <%= f.email_field :email, required: true, autofocus: true, :class => "form-control" %>
                            </div>
                        </div>
                        <div class="col-lg-6">
                        <h3 class="checkout-title">car details</h3>
                            <div class="form-group">
                                <b><%= f.label :car_name %></b>
                                <%= f.text_field :car_name, required: true, :class => "form-control" %>
                            </div>
                            <div class="form-group">
                                <b><%= f.label :car_make %></b>
                                <%= f.text_field :car_make, required: true, :class => "form-control" %>
                            </div>
                            <div class="form-group">
                                <b><%= f.label :car_year %></b>
                                <%= f.select :car_year,  options_for_select(["2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020"]), required: true, :class => "form-control" %>
                            </div>
                            <div class="form_group">
                                <b><%= f.label :chassis_number %></b>
                                <%= f.text_field :chassis_number, required: true, :class => "form-control" %>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <h3> billing address </h3>
                            <div class="form-group">
                                <b><%= f.label :billing_address %></b>
                                <%= f.text_field :billing_address, required: true, :class => "form-control" %>
                            </div>
                             <div class="form-group">
                                <b><%= f.label :billing_postal_code %></b>
                                <%= f.number_field :billing_postal_code, required: true, type: "number", :class => "form-control" %>
                            </div>
                            <div class="form-group">
                                <b><%= f.label :billing_country %></b>
                                <%= f.select :billing_country, options_for_select(["Kenya", "Uganda", "Tanzania"]), :class => "form-control" %>
                            </div>
                            <div class="form-group">
                                <b><%= f.label :billing_city %></b>
                                <%= f.text_field :billing_city, :class => "form-control" %>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <h3> shipping address </h3>
                            <div class="form-group">
                                <b><%= f.label :shipping_address %></b>
                                <%= f.text_field :shipping_address, required: true, :class => "form-control" %>
                            </div>
                             <div class="form-group">
                                <b><%= f.label :shipping_postal_code %></b>
                                <%= f.number_field :shipping_postal_code, required: true, type: "number", :class => "form-control" %>
                            </div>
                            <div class="form-group">
                                <b><%= f.label :shipping_country %></b>
                                <%= f.select :shipping_country, options_for_select(["Kenya", "Uganda", "Tanzania"]), :class => "form-control" %>
                            </div>
                            <div class="form-group">
                                <b><%= f.label :shipping_city %></b>
                                <%= f.text_field :shipping_city, :class => "form-control" %>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <b><%= f.label :current_password %></b> <i>(we need your current password to confirm your changes)</i><br />
                        <%= f.password_field :current_password, required: true, autocomplete: "current-password", :class => "form-control" %>
                    </div>
                </div>
                    <div class="row mt-2 mb-2">
                        <div class="col-12">
                            <%= f.submit "Save Settings", :class => "btn btn-solid" %>
                        </div>
                    </div>
                <% end %>
            </div>   
         </div>
      </div>
   </div>
</div>
<!-- breadcrumb End -->



<!-- footer start -->
    <%= render 'layouts/footer' %>
<!-- footer end -->

 
<!-- latest jquery-->
    <%= javascript_include_tag 'js/jquery-3.3.1.min.js' %>

<!-- menu js-->
    <%= javascript_include_tag 'js/menu.js' %>

<!-- lazyload js-->
    <%= javascript_include_tag 'js/lazysizes.min.js' %>

<!-- popper js-->
    <%= javascript_include_tag 'js/popper.min.js' %>

<!-- slick js-->
    <%= javascript_include_tag 'js/slick.js' %>

<!-- Bootstrap js-->
    <%= javascript_include_tag 'js/bootstrap.js' %>

<!-- Bootstrap Notification js-->
    <%= javascript_include_tag 'js/bootstrap-notify.min.js' %>

<!-- Theme js-->
    <%= javascript_include_tag 'js/script.js' %>

<script>
    function openSearch() {
        document.getElementById("search-overlay").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("search-overlay").style.display = "none";
    }
</script>
