<%= devise_error_messages! %>
<%= render 'layouts/header' %>
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>create account</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="<%= root_url %>">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">create account</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->


<!--section start-->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>create account</h3>
                <div class="theme-card">
                    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "theme-form"}) do |f| %>
                    <div class="form-row form-inputs">
                        <div class="col-md-6">
                            <%= f.label :first_name %>
                            <%= f.text_field :first_name, autofocus: true,  class: "form-control", placeholder: "First Name", required: true %>
                        </div>
                         <div class="col-md-6">
                            <%= f.label :last_name %>
                            <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name", required: true %>
                        </div>  
                    </div>
                    <div class="form-row form-inputs">    
                        <div class="col-md-6">
                            <%= f.label :email %>
                            <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "form-control",  required: true %>
                        </div>
                         <div class="col-md-6">
                            <%= f.label :password %>
                            <%= f.password_field :password, required: true, :class => "form-control", :placeholder => "Password", hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" } %>
                        </div>                             
                        <div class="col-md-6">
                            <%= f.label :password_confirmation %>
                            <%= f.password_field :password_confirmation, :class => "form-control", required: true, :placeholder => "Confirm Password", input_html: { autocomplete: "new-password" } %>
                        </div>          
                    </div>
                        <%= f.submit "Create Account", class: 'btn btn-solid' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->

<!-- render tawk live chat -->
<%= render "layouts/tawk" %>

<%= render 'layouts/footer' %>

<!-- latest jquery-->
<%= javascript_include_tag 'js/jquery-3.3.1.min.js' %>

<!-- menu js-->
<%= javascript_include_tag 'js/menu.js' %>

<!-- lazyload js-->
<%= javascript_include_tag 'js/lazysizes.min.js' %>

<!-- popper js-->
<%= javascript_include_tag 'js/popper.min.js' %>

<!-- slick js-->
<%= javascript_include_tag 'js/slick.js' %>

<!-- Bootstrap js-->
<%= javascript_include_tag 'js/bootstrap.js' %>

<!-- Bootstrap Notification js-->
<%= javascript_include_tag 'js/bootstrap-notify.min.js' %>

<!-- Theme js-->
<%= javascript_include_tag 'js/script.js' %>


<script>
    function openSearch() {
        document.getElementById("search-overlay").style.display = "block";
    }

    function closeSearch() {
        doc
        ument.getElementById("search-overlay").style.display = "none";
    }
    
</script>


