<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>create account</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">create account</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->


<!--section start-->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>create account</h3>
                <div class="theme-card">
                    
                        <%= form_for(resource, as: resource_name, url: "/users", method: :post) do |f| %>
                        <div class="form-row">
                            <div class="col-md-6">
                                <%= f.label :first_name %>
                                <%= f.text_field :first_name, autofocus: true,  class: "form-control", placeholder: "First Name", required: true %>
                            </div>
                            <div class="col-md-6">

                                <%= f.label :last_name %>
                                <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name", required: true %>

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">

                                <%= f.label :email %>

                                <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "form-control",  required: true %>
                            </div>
                            <div class="col-md-6">
                                <%= f.label :password %>

                                <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control', placeholder: "Enter your password", required: true %>
                            </div>
                            <%= f.submit "Create Account", class: 'btn btn-solid' %>
                        </div>
                        <%end%>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: new_customer_registration_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

<div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

<div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
</div>

<div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
</div>

<div class="actions">
    <%= f.submit "Sign up" %>
</div>
<% end %>

<%= render "devise/shared/links" %>