
 <%= stylesheet_link_tag "css/datatables" %>
<!-- page-wrapper Start-->
<div class="page-wrapper">

    <!-- Page Header Start-->
    <%= render "layouts/admin_header" %>
    <!-- Page Header Ends -->

    <!-- Page Body Start-->
    <div class="page-body-wrapper">

        <!-- Page Sidebar Start-->
        <%= render "layouts/admin_sidebar" %>
        <!-- Page Sidebar Ends-->

        <!-- Right sidebar Start-->
        <%= render "layouts/admin_right_sidebar" %>
        <!-- Right sidebar Ends-->

        <div class="page-body">

                <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="page-header-left">
                                    <h3>Customers
                                        <small><%= AdminConfig[:app_name] %> Admin panel</small>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <ol class="breadcrumb pull-right">
                                    <li class="breadcrumb-item"><a href="<%= root_url %>"><i data-feather="home"></i></a></li>
                                    <li class="breadcrumb-item">Admins List</li>
                                    <li class="breadcrumb-item active">Admins</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->

                <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Admins</h5>
                                    <div style="float: right;">
                                        <%= link_to admin_order_path, :class => "btn btn-primary d-none", remote: true do %>
                                        Place Order
                                        <% end %>
                                    </div>
                                </div>
                                <div class="card-body order-datatable">
                                    <div class="btn-popup pull-right">
                                        <%= link_to add_admin_path, class: "btn btn-secondary" do %>
                                            Create Admin
                                        <% end %>
                                    </div>
                                    <table class="display" id="basic-1">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Phone Number </th>
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>Last Login</th>
                                                <th>Actions</th>
                                        </thead>
                                        <tbody>
                                            <% count = 0 %>
                                            <% @admins.each do |user| %>
                                            <tr>
                                                <td><%= count += 1 %></td>
                                                <td><%= user.first_name %></td>
                                                <td><%= user.last_name %></td>
                                                <td><%= user.phone %></td>
                                                <td><%= user.email %></td>
                                                <td><%= user.role.title %></td>
                                                <td><%= user.last_sign_in_at ? user.last_sign_in_at.in_time_zone("Nairobi") : "---" %></td>
                                                <td>
                                                    <div class='actions row-actions'>
                                                        <span><a class = "fa fa-user" href="<%= show_admin_path(user.id) %>"></a></span>
                                                        <!-- Make a Renewal Button -->
                                                    </div>
                                                </td>
                                            </tr>
                                            <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->

            </div>

        <!-- footer start-->
        <%= render "layouts/admin_footer" %>
        <!-- footer end-->

    </div>

</div>


<%= javascript_include_tag "js/icons/feather-icon/feather.min.js" %>
<%= javascript_include_tag "js/icons/feather-icon/feather-icon.js" %>

<!-- Sidebar jquery-->
<%= javascript_include_tag "js/sidebar-menu" %>

<!-- Datatable js-->
<%= javascript_include_tag "js/datatables/jquery.dataTables.min.js" %>
<%= javascript_include_tag "js/datatables/custom-basic" %>

<!--Customizer admin-->
<%= javascript_include_tag "js/admin-customizer.js" %>

<!-- lazyload js-->
<%= javascript_include_tag "js/lazysizes.min.js" %>

<!--right sidebar js-->
<%= javascript_include_tag "js/chat-menu.js" %>

<!--script admin-->
<%= javascript_include_tag "js/admin-script" %>

<%= javascript_include_tag "tables" %>
