<div id="<%= "row#{@count}"%>">

    <hr>
    <h3>Catalog Item <%# @count %></h3>
    <div class="row" >
        
        <div class="form-group col-sm-12 col-lg-6">
            <label> <strong> <%= label_tag "Product Description :","Product Description", class: "required" %> </strong> </label>
            <%= text_field_tag :product_description, nil, class: 'form-control', name: "product[product_group][product_description][]", required: true%>
        </div>

        <div class="form-group col-sm-12 col-lg-6">
            <label> <strong> <%= label_tag "Whole Sale Price :",'Whole Sale Price', class: "required" %> </strong> </label>
            <%= text_field_tag :whole_sale,nil, class: "form-control input100", required: true , name: "product[product_group][whole_sale][]"  %>
        </div>
        <div class="form-group col-sm-12 col-lg-6">
            <label> <strong> <%= label_tag "Retail Price :","Retail Price", class: "required" %> </strong> </label>
            <%= text_field_tag :rrp,nil, class: "form-control input100", required: true , name: "product[product_group][rrp][]"  %>
        </div>
        <div class="form-group col-sm-12 col-lg-6">
            <label> <strong> <%= label_tag "Minimum Order Quantity(Amount) :","Minimum Order Quantity(Amount)", class: "required" %> </strong> </label>
            <%= number_field_tag :moq,nil, class: "form-control input100", required: true , name: "product[product_group][moq][]"   %>
        </div>
        <div class="form-group col-sm-12 col-lg-6">
            <label> <strong> <%= label_tag "Minimum Order Quantity(Description) :","Minimum Order Quantity(Description)", class: "required" %> </strong> </label>
            <%= text_field_tag :moq_description,nil, class: "form-control input100", required: true , name: "product[product_group][moq_description][]"   %>
        </div>
        <div class="form-group col-sm-12 col-lg-6">
            <label> <strong> <%= label_tag "Display Symbol :", "Display Symbol",class: "required" %> </strong> </label>
            <%= text_field_tag :name,nil, class: "form-control input100", required: true , name: "product[product_group][name][]"   %>
        </div>
        <div class="form-group col-sm-12 col-lg-6">
            <label> <strong> <%= label_tag "Insert Image :", "Insert Image",class: "required" %> </strong> </label>
            <%# file_field_tag :image, class: "form-control input100", required: true , name: "product[images][]"   %>
            <%= file_field_tag :images, multiple: false, class: " btn", required: true, name: "product[images][]" %>
        </div>
        <div class="form-group col-12">
            <%= link_to remove_view_path(row_id: @count), class: "mt-2 btn btn-danger float-right", id: "remove_view", remote: true  do %>
            -Remove-
            <%end%>
        </div>
    </div>
</div>