<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :customer_class %>
    <%= form.text_field :customer_class %>
  </div>

  <div class="field">
    <%= form.label :room %>
    <%= form.text_field :room %>
  </div>

  <div class="field">
    <%= form.label :building %>
    <%= form.text_field :building %>
  </div>

  <div class="field">
    <%= form.label :address1 %>
    <%= form.text_field :address1 %>
  </div>

  <div class="field">
    <%= form.label :address2 %>
    <%= form.text_field :address2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :county %>
    <%= form.text_field :county %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :credit_card %>
    <%= form.text_field :credit_card %>
  </div>

  <div class="field">
    <%= form.label :credit_card_type_id %>
    <%= form.text_field :credit_card_type_id %>
  </div>

  <div class="field">
    <%= form.label :card_exp_mo %>
    <%= form.text_field :card_exp_mo %>
  </div>

  <div class="field">
    <%= form.label :card_exp_yr %>
    <%= form.text_field :card_exp_yr %>
  </div>

  <div class="field">
    <%= form.label :billing_address %>
    <%= form.text_field :billing_address %>
  </div>

  <div class="field">
    <%= form.label :billing_city %>
    <%= form.text_field :billing_city %>
  </div>

  <div class="field">
    <%= form.label :billing_region %>
    <%= form.text_field :billing_region %>
  </div>

  <div class="field">
    <%= form.label :billing_postal_code %>
    <%= form.text_field :billing_postal_code %>
  </div>

  <div class="field">
    <%= form.label :billing_country %>
    <%= form.text_field :billing_country %>
  </div>

  <div class="field">
    <%= form.label :shipping_address %>
    <%= form.text_field :shipping_address %>
  </div>

  <div class="field">
    <%= form.label :shipping_city %>
    <%= form.text_field :shipping_city %>
  </div>

  <div class="field">
    <%= form.label :shipping_region %>
    <%= form.text_field :shipping_region %>
  </div>

  <div class="field">
    <%= form.label :shipping_postal_code %>
    <%= form.text_field :shipping_postal_code %>
  </div>

  <div class="field">
    <%= form.label :shipping_country %>
    <%= form.text_field :shipping_country %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
