<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @customer.customer_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Class:</strong>
  <%= @customer.class %>
</p>

<p>
  <strong>Room:</strong>
  <%= @customer.room %>
</p>

<p>
  <strong>Building:</strong>
  <%= @customer.building %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @customer.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @customer.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>County:</strong>
  <%= @customer.county %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @customer.password %>
</p>

<p>
  <strong>Credit card:</strong>
  <%= @customer.credit_card %>
</p>

<p>
  <strong>Credit card type:</strong>
  <%= @customer.credit_card_type_id %>
</p>

<p>
  <strong>Card exp mo:</strong>
  <%= @customer.card_exp_mo %>
</p>

<p>
  <strong>Card exp yr:</strong>
  <%= @customer.card_exp_yr %>
</p>

<p>
  <strong>Billing address:</strong>
  <%= @customer.billing_address %>
</p>

<p>
  <strong>Billing city:</strong>
  <%= @customer.billing_city %>
</p>

<p>
  <strong>Billing region:</strong>
  <%= @customer.billing_region %>
</p>

<p>
  <strong>Billing postal code:</strong>
  <%= @customer.billing_postal_code %>
</p>

<p>
  <strong>Billing country:</strong>
  <%= @customer.billing_country %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @customer.shipping_address %>
</p>

<p>
  <strong>Shipping city:</strong>
  <%= @customer.shipping_city %>
</p>

<p>
  <strong>Shipping region:</strong>
  <%= @customer.shipping_region %>
</p>

<p>
  <strong>Shipping postal code:</strong>
  <%= @customer.shipping_postal_code %>
</p>

<p>
  <strong>Shipping country:</strong>
  <%= @customer.shipping_country %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
