
<!-- Modals -->
<div class="modal fade" id="orderModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ordered Products</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                     <table class="table cart-table table-responsive-xs">
                        <thead>
                            <tr class="table-head">
                                <th scope="col">Image</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                            </tr>
                        </thead>
                        <% @items.each do |item| %>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex">
                                        <% if item.product.images.attached? %>
                                            <a href="/products/<%= item.product.id %>"><%= image_tag (item.product.images[0] if item.product.images.length > 0) , :class => "img-fluid img-30 mr-2 blur-up lazyloaded" %></a>
                                        <% else %>
                                            <a href="/products/<%= item.product.id %>"><%= image_tag "default_profile", :class => "img-fluid img-30 mr-2 blur-up lazyloaded" %></a>
                                        <% end %>
                                    </div>
                                </td>
                                <td><a href="/products/<%= item.product.id %>"> <%= item.product.product_name %></a>
                                </td>
                                <td>
                                    <p><%= number_to_currency(item.price, unit: ' KES ') %></p>
                                </td>
                                <td>
                                    <p> <%= item.quantity %>
                                </td>
                            </tr>
                        </tbody>
                        <% end %>
                    </table>
                    <table class="table cart-table table-responsive-md">
                        <tfoot>
                            <tr>
                                <td>Amount:</td>
                                <td>
                                    <h2><%= number_to_currency(@order.order_subtotal, unit: ' KES ') %></h2>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
            <div class="modal-footer">

                <button type="button" class="btn btn-success btn--icon-text px-5" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
