
   
    <div class="page-wrapper">

        <!-- Page Header Start-->
        <%= render 'layouts/admin_header' %>
        <!-- Page Header Ends -->

        <!-- Page Body Start-->
        <div class="page-body-wrapper">

            <!-- Page Sidebar Start-->
            <%= render 'layouts/admin_sidebar' %>
            <!-- Page Sidebar Ends-->

            <!-- Right sidebar Start-->

            <!-- Right sidebar Ends-->

            <div class="page-body">

                <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="page-header-left">
                                    <h3>Orders
                                        <small>MelonCoco Admin panel</small>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <ol class="breadcrumb pull-right">
                                    <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                                    <li class="breadcrumb-item">Sales</li>
                                    <li class="breadcrumb-item active">Orders</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->

                <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Manage Order</h5>
                                </div>

                                <div class="card-body order-datatable">
                                    <table class="display" id="basic-1">
                                        <thead>
                                            <tr>
                                                <th>Order Id</th>
                                                <th>Product</th>
                                                <th>Payment 
                                                Status</th>
                                                <th>Payment 
                                                Method</th>
                                                <th>Order 
                                                Status</th>
                                                <th>Date</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <% @orders.each do |order| %>
                                        
                                            <tr>
                                                <td>ORD-REF-<%= order.id %></td>
                                                <td>
                                                    <div class="d-flex">
                                                        <%# image_tag (item.product.images[0] if item.product.images.length > 0), :class => "img-fluid img-30 mr-2 blur-up lazyloaded" %>
                                                    </div>
                                                </td>
                                                <td><span class="badge badge-secondary"><%= order.payment_status %></span></td>
                                                <td><%= order.payment_method %></td>
                                                <td><span class="badge badge-success"><%= order.order_status %></span></td>
                                                <td><%= order.created_at.strftime("%B %d, %Y") %> </td>
                                                <td><%= number_to_currency(order.order_subtotal, :unit => 'KES ') %></td>
                                            </tr>
                                           
                                       
                                        <% end %>
                                         </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->

            </div>

            <!-- footer start-->
            <%= render 'layouts/admin_footer' %>
            <!-- footer end-->

        </div>

    </div>

