

    <!-- header start -->
    <%= render "layouts/header" %>
    <!-- header end -->

    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>Check-out</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="<%= root_url %>">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Check-out</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->


    <!-- section start -->
    <section class="section-b-space">
        <div class="container">
            <div class="checkout-page">
                <div class="checkout-form">
                    <%= form_for setup_customer(@customer), url: checkout_path do |f| %>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-title">
                                <h3>Billing Details</h3>
                            </div>
                            <div class="row check-out">
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">First Name</div>
                                    <!--<input type="text" name="field-name" value="" placeholder="">-->
                                    <%= f.text_field :first_name, type: "text", required: true %>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Last Name</div>
                                    <!--<input type="text" name="field-name" value="" placeholder="">-->
                                    <%= f.text_field :last_name, type: "text", required: true %>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Phone Number</div>
                                    <%= f.number_field :phone %>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Email Address</div>
                                    <%= f.email_field :email, type: "email", required: true %>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Country</div>
                                    <%= f.select :billing_country, options_for_select(["Kenya", "Uganda", "Tanzania"]) %>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Address</div>
                                    <%= f.text_field :billing_address %>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Town/City</div>
                                    <%= f.text_field :billing_city, type: "text" %>
                                </div>
                                <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                    <div class="field-label">Postal Code</div>
                                    <%= f.number_field :billing_postal_code, type: "number" %>
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!--<input type="checkbox" name="shipping-option" id="account-option"> --> &ensp;
                                    <!--<%= f.check_box :shipping_option, :type => "checkbox" %>-->
                                    <%= f.check_box :shipping_option, :id => "checkbox"  %>
                                    <label for="account-option"> Add Shipping Address?</label>
                                    <div id="shipping" style="display:none;">
                                        <div class="checkout-title">
                                            <h3>Shipping Address </h3>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="field-label">Country</div>
                                            <%= f.select :county, options_for_select(["Kenya", "Uganda", "Tanzania"]) %>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="field-label">Address</div>
                                            <%= f.text_field :shipping_address %>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="field-label">Town/City</div>
                                            <%= f.text_field :shipping_city, type: "text" %>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                            <div class="field-label">Postal Code</div>
                                            <%= f.number_field :shipping_postal_code, type: "number" %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-details">
                                <div class="order-box">
                                    <div class="title-box">
                                        <div>Product <span>Total</span></div>
                                    </div>
                                    <% current_cart.order.items.each do |order| %>
                                    <ul class="qty">
                                        <li><%= order.product.product_name %> × <%= order.quantity %> <span><%= number_to_currency(order.price, unit: ' KES ')%></span></li>
                                        <% end %>
                                    </ul>
                                    <ul class="sub-total">
                                        <li>Subtotal <span class="count"><%= number_to_currency(current_cart.order_subtotal, unit: ' KES ') %></span></li>
                                        <li>Delivery Options: <br> <br>
                                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                    <%= f.select :delivery_option, options_for_select(["Instore Pickup: Kshs.0", "Nairobi Area: Kshs.250"]), :id => "instore", :prompt => "Select Shipping" %>
                                                </div>
                                                <div class="form-group col-md-12 col-sm-12 col-xs-12" >
                                                    <%= f.select :pick_up_option, options_for_select(["Thika Road Mall", "Two Rivers Mall", "Garden City Mall"]), :id => "pickup_option", :style => "display:none;", :prompt => "Select Pickup Location" %>
                                                </div>
                                        </li>
                                    </ul>
                                    <ul class="total">
                                        <li>Total <span class="count"><%= number_to_currency( @order.order_subtotal , unit: ' KES ') %></span></li>
                                    </ul>
                                </div>                                    
                                <%= f.fields_for :order,:html => { class: 'd-none'}  do |order| %>
                                <div class="payment-box ">
                                    <div class="upper-box d-none">
                                        <div class="payment-options">
                                            <ul>
                                                <li>
                                                    <div class="radio-option">
                                                        <!--<input type="radio" name="payment-group" id="payment-1" checked="checked">-->
                                                        <%= order.radio_button :payment_method, "Mpesa", :type => "radio", :name => "order[payment_method]", :id => "payment-1", :checked => true %>
                                                        <label for="payment-1">Mpesa<span class="small-text">Please send a check to Store
                                                                Name, Store Street, Store Town, Store State /
                                                                County, Store Postcode.</span></label>
                                                    </div>
                                                </li>
                                                <!--<li>
                                                    <div class="radio-option">
                                                        <%= order.radio_button :payment_method, "Cash On Delivery", :type => "radio", :name => "order[payment_method]", :id => "payment-2"%>
                                                        <label for="payment-2">Cash On Delivery<span class="small-text">Please send a check to Store
                                                                Name, Store Street, Store Town, Store State /
                                                                County, Store Postcode.</span></label>
                                                    </div>
                                                </li>-->
                                                <li>
                                                    <div class="radio-option paypal">
                                                        <%= order.radio_button :payment_method, "Card", :type => "radio", :name => "order[payment_method]", :id => "payment-3"%>
                                                        <label for="payment-3">Card<span class="image"><img src="" alt=""></span></label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <%= f.submit "Place Order", :class => "btn-solid btn" %>
                                    </div>
                                </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->


    <!-- footer start -->

    <%= render "layouts/footer" %>

    <!-- footer end -->




    <!-- tap to top start -->
    <div class="tap-top">
        <div><i class="fa fa-angle-double-up"></i></div>
    </div>
    <!-- tap to top end -->

    <%= javascript_include_tag 'js/jquery-3.3.1.min.js' %>

    <script>
    
        function openSearch() {
            document.getElementById("search-overlay").style.display = "block";
        }

        function closeSearch() {
            document.getElementById("search-overlay").style.display = "none";
        }


        var checkbox = document.getElementById('checkbox');
        var shipping_div = document.getElementById('shipping');
        var showHiddenDiv = function() {
            if (checkbox.checked) {
                shipping_div.style['display'] = 'block';
            } else {
                shipping_div.style['display'] = 'none';
            }
        }
        checkbox.onclick = showHiddenDiv;
        showHiddenDiv();

    $("#customer_delivery_option").change(function(){
    if($(this).val() == "Instore Pickup: Kshs.0"){
      $("#customer_pick_up_option").show();
    }else{
      $("#customer_pick_up_option").hide();
    }

});
       
</script>
