<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="multikart">
    <meta name="keywords" content="multikart">
    <meta name="author" content="multikart">

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="../resources/css/fontawesome.css">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="../resources/css/slick.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/slick-theme.css">

    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" href="../resources/css/animate.css">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="../resources/css/themify-icons.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.css">

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="../resources/css/color1.css" media="screen" id="color">

</head>

<body>


    <!-- header start -->
    <%= render 'layouts/header' %>
    <!-- header end -->


    <!-- thank-you section start -->
    <section class="section-b-space light-layout">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="success-text"><i class="fa fa-check-circle" aria-hidden="true"></i>
                        <h2>thank you</h2>
                        <p>Payment is successfully processsed and your order is on the way</p>
                        <p>Transaction ID:267676GHERT105467</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section ends -->


    <!-- order-detail section start -->
    <section class="section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-order">
                        <h3>your order details</h3>
                        <% @order.items.each do |item| %>
                        <div class="row product-order-detail">
                            <div class="col-3"><img src="../resources/images/pro3/1.jpg" alt="" class="img-fluid blur-up lazyload"></div>
                            <div class="col-3 order_detail">
                                <div>
                                    <h4>product name</h4>
                                    <h5><%= item.product.product_name %></h5>
                                </div>
                            </div>
                            <div class="col-3 order_detail">
                                <div>
                                    <h4>quantity</h4>
                                    <h5><%= item.quantity %></h5>
                                </div>
                            </div>
                            <div class="col-3 order_detail">
                                <div>
                                    <h4>price</h4>
                                    <h5><%= number_to_currency(item.price , :unit => ' KES ') %></h5>
                                </div>
                            </div>
                        </div>
                        <% end %>
                        <div class="total-sec">
                            <ul>
                                <li>subtotal <span><%= number_to_currency(@order.order_subtotal, :unit => ' KES ') %></span></li>
                                <li>shipping <span>-</span></li>
                                <li>tax<span>-</span></li>
                            </ul>
                        </div>
                        <div class="final-total">
                            <h3>total <span><%= number_to_currency(@order.order_subtotal, :unit => ' KES ') %></span></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row order-success-sec">
                        <div class="col-sm-6">
                            <h4>summary</h4>
                            <ul class="order-detail">
                                <li>order ID: ORD-REF-<%= @order.id %></li>
                                <li>Order Date: <%= @order.created_at.strftime("%B %d, %Y")%> </li>
                                <li>Order Total: <%= number_to_currency(@order.order_subtotal, :unit => ' KES ') %></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <h4>shipping address</h4>
                            <ul class="order-detail">
                                <li><%= @order.client_first_name %> <%= @order.client_last_name %></li>
                                <li><%= @order.client_address %>, <%= @order.client_city %>.</li>
                                <li><%= @order.client_country%>, <%= @order.client_postal_code %></li>
                                <li>Contact No. <%= @order.client_phone_number %> </li>
                            </ul>
                        </div>
                        <div class="col-sm-12 payment-mode">
                            <h4>payment method</h4>
                            <p><%= @order.payment_method %></p>
                        </div>
                        <div class="col-md-12">
                            <div class="delivery-sec">
                                <h3>expected date of delivery</h3>
                                <h2>August 20, 2020</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section ends -->


    <!-- footer start -->
    <%= render 'layouts/footer' %>
    <!-- footer end -->


    <!-- theme setting -->
    <!-- theme setting -->


    <!-- tap to top start -->
    <div class="tap-top">
        <div><i class="fa fa-angle-double-up"></i></div>
    </div>
    <!-- tap to top end -->


    <!-- latest jquery-->
    <script src="../resources/js/jquery-3.3.1.min.js"></script>

    <!-- menu js-->
    <script src="../resources/js/menu.js"></script>

    <!-- lazyload js-->
    <script src="../resources/js/lazysizes.min.js"></script>

    <!-- popper js-->
    <script src="../resources/js/popper.min.js"></script>

    <!-- slick js-->
    <script src="../resources/js/slick.js"></script>

    <!-- Bootstrap js-->
    <script src="../resources/js/bootstrap.js"></script>

    <!-- Bootstrap Notification js-->
    <script src="../resources/js/bootstrap-notify.min.js"></script>

    <!-- Theme js-->
    <script src="../resources/js/script.js"></script>

    <script>
        function openSearch() {
            document.getElementById("search-overlay").style.display = "block";
        }

        function closeSearch() {
            document.getElementById("search-overlay").style.display = "none";
        }
    </script>
</body>

</html>