
    <!-- header start -->
    <%= render 'layouts/header' %>
    <!-- header end -->


    <!-- thank-you section start -->
    <section class="section-b-space light-layout">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="success-text"><i class="fa fa-check-circle" aria-hidden="true"></i>
                        <h2>thank you</h2>
                        <p>Payment is successfully processsed and your order is on the way</p>
                        <p>Order ID:<%= @order.order_number %></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section ends -->


    <!-- order-detail section start -->
    <section class="section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-order">
                        <h3>your order details</h3>
                        <% @order.items.each do |item| %>
                        <div class="row product-order-detail">
                            <div class="col-3">
                            <%= image_tag (item.product.images[0] if item.product.images.length > 0), :class => "img-fluid blur-up lazyload" %>
                            </div>
                            <div class="col-3 order_detail">
                                <div>
                                    <h4>product name</h4>
                                    <h5><%= item.product.product_name %></h5>
                                </div>
                            </div>
                            <div class="col-3 order_detail">
                                <div>
                                    <h4>quantity</h4>
                                    <h5><%= item.quantity %></h5>
                                </div>
                            </div>
                            <div class="col-3 order_detail">
                                <div>
                                    <h4>price</h4>
                                    <h5><%= number_to_currency(item.price , :unit => ' KES ') %></h5>
                                </div>
                            </div>
                        </div>
                        <% end %>
                        <div class="total-sec">
                            <ul>
                                <li>subtotal <span><%= number_to_currency(@order.order_subtotal, :unit => ' KES ') %></span></li>
                                <li>shipping <span>-</span></li>
                                <li>tax<span>-</span></li>
                            </ul>
                        </div>
                        <div class="final-total">
                            <h3>total <span><%= number_to_currency(@order.order_subtotal, :unit => ' KES ') %></span></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row order-success-sec">
                        <div class="col-sm-6">
                            <h4>summary</h4>
                            <ul class="order-detail">
                                <li>order Number: <%= @order.order_number %></li>
                                <li>Order Date: <%= @order.order_date.strftime("%B %d, %Y")%> </li>
                                <li>Order Total: <%= number_to_currency(@order.order_subtotal, :unit => ' KES ') %></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <h4>shipping address</h4>
                            <ul class="order-detail">
                                <li><%= @customer.first_name %> <%= @customer.last_name %></li>
                                <li><%= @customer.shipping_address %>, <%= @customer.shipping_city %>.</li>
                                <li><%= @customer.shipping_region%>, <%= @customer.shipping_postal_code %></li>
                                <li>Contact No. <%= @customer.phone %> </li>
                            </ul>
                        </div>
                        <div class="col-sm-12 payment-mode">
                            <h4>payment method</h4>
                            <p><%= @order.payment_method %></p>
                        </div>
                        <div class="col-md-12">
                            <div class="delivery-sec">
                                <h3>expected date of delivery</h3>
                                <h2>August 30, 2020</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section ends -->


    <!-- footer start -->
    <%= render 'layouts/footer' %>
    <!-- footer end -->


    <!-- theme setting -->
    <!-- theme setting -->


    <!-- tap to top start -->
    <div class="tap-top">
        <div><i class="fa fa-angle-double-up"></i></div>
    </div>
    <!-- tap to top end -->

