 <%= render 'layouts/header' %>
 <!-- breadcrumb start -->
 <div class="breadcrumb-section">
     <div class="container">
         <div class="row">
             <div class="col-sm-6">
                 <div class="page-title">
                     <h2>contact</h2>
                 </div>
             </div>
             <div class="col-sm-6">
                 <nav aria-label="breadcrumb" class="theme-breadcrumb">
                     <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="<%= root_url %>">Home</a></li>
                         <li class="breadcrumb-item active">contact</li>
                     </ol>
                 </nav>
             </div>
         </div>
     </div>
 </div>
 <!-- breadcrumb End -->

 <!--section start-->
 <section class="contact-page section-b-space">
     <div class="container">
         <div class="row section-b-space">
            <div class="col-lg-7 map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8979724723013!2d36.86966281475396!3d-1.2306807991023565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f150916224a4b%3A0x4a530df4d8012c53!2sForemost%20Auto%20Centre!5e0!3m2!1sen!2sae!4v1602748737838!5m2!1sen!2sae" allowfullscreen></iframe>
            </div>
             <div class="col-lg-5">
                 <div class="contact-right">
                     <ul>
                         <li>
                             <div class="contact-icon"><i class="fa fa-phone" aria-hidden="true"></i>
                                <h6>Phone</h6>
                             </div>
                             <div class="media-body">
                                 <p><%= AdminConfig[:app_phone]%></p>
                             </div>
                         </li>
                         <li>
                             <div class="contact-icon"><i class="fa fa-whatsapp" aria-hidden="true"></i>
                                 <h6>WhatsApp</h6>
                             </div>
                             <div class="media-body">
                                 <p><%= AdminConfig[:app_phone_2] %></p>
                             </div>
                         </li>
                         <li>
                             <div class="contact-icon"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                 <h6>Address</h6>
                             </div>
                             <div class="media-body">
                                 <p><%= AdminConfig[:app_location] %></p>
                             </div>
                         </li>
                         <li>
                             <div class="contact-icon"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                 <h6>Email</h6>
                             </div>
                             <div class="media-body">
                                 <p><%= AdminConfig[:app_email]%></p>
                             </div>
                         </li>
                     </ul>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col-sm-12">
                 <%= form_with scope: :home, url: contact_path, local: true do |form| %>
                 <div class="form-row">
                     <div class="col-md-6">
                         <b><label for="name">First Name</label></b>
                         <%= form.text_field :notification_first_name, required: true, :class => "form-control", :placeholder => "First Name" %>
                     </div>
                     <div class="col-md-6">
                        <b><label for="name">Last Name</label></b>
                         <%= form.text_field :notification_last_name, required: true, :class => "form-control", :placeholder => "Last Name" %>
                     </div>
                     <div class="col-md-6"> <br>
                        <b><label for="review">Phone number</label></b>
                         <%= form.number_field :notification_phone_number, :class => "form-control", :placeholder => "Phone Number"%>
                     </div>
                     <div class="col-md-6"> <br>
                         <b><label for="email">Email</label></b>
                         <%= form.email_field :notification_email, required: true, :class => "form-control", :placeholder => "Email" %>
                     </div>
                     <div class="col-md-12"> <br>
                        <b><label for="review">Write Your Message</label></b>
                        <%= form.text_area :notification_message, required: true, :class => "form-control", :rows => 6, :placeholder => "Write your Message" %>
                     </div>
                     <div class="col-md-12"> <br> 
                         <%= form.submit "Send Your Message", :class => "btn btn-solid" %>
                     </div>
                 </div>
                 <% end %>
             </div>
         </div>
     </div>
 </section>
 <!--Section ends-->

 <!-- render tawk live chat -->
    <%# <%= render "layouts/tawk" %> 

<!-- footer start -->
    <%= render 'layouts/footer' %>
<!-- footer end -->

 
<!-- latest jquery-->
    <%= javascript_include_tag 'js/jquery-3.3.1.min.js' %>

<!-- menu js-->
    <%= javascript_include_tag 'js/menu.js' %>

<!-- lazyload js-->
    <%= javascript_include_tag 'js/lazysizes.min.js' %>

<!-- popper js-->
    <%= javascript_include_tag 'js/popper.min.js' %>

<!-- slick js-->
    <%= javascript_include_tag 'js/slick.js' %>

<!-- Bootstrap js-->
    <%= javascript_include_tag 'js/bootstrap.js' %>

<!-- Bootstrap Notification js-->
    <%= javascript_include_tag 'js/bootstrap-notify.min.js' %>

<!-- Theme js-->
    <%= javascript_include_tag 'js/script.js' %>

<script>
    function openSearch() {
        document.getElementById("search-overlay").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("search-overlay").style.display = "none";
    }
</script>