<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <%= form_for(setup_category(@category)) do |form| %>
            <div class="modal-header">
                <h5 class="modal-title f-w-600" id="exampleModalLabel">Add Category</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <!--<form class="needs-validation">-->

                <div class="form">
                    <div class="form-group">
                        <%= form.label :category_name, :class => "mb-1" %>
                        <%= form.text_field :category_name, :class => "form-control" %>
                        <%= puts "#{@category.category_name} Printing" %>
                    </div>
                     <div class="form-group">
                        <%= form.label :description, :class => "mb-1" %>
                        <%= form.text_field :description, :class => "form-control" %>
                        <%= puts "#{@category.description} Printing" %>
                    </div>
                    <%= form.fields_for :color do |b| %>
                    <div class="d-none">
                        <% @colors.each do |color| %>
                        <%= b.text_field :color_type, class: "", :value => color.color_type, name: "colors[][color_type]" %>
                        <%= color_field_tag :color_code, color.color_code, name: "colors[][color_code]" %>
                        <%= hidden_field_tag :color_id, color.id, name: "colors[][color_id]" %>
                        <%end%>
                    </div>
                    <%end%>

                    <div class="color_class d-none">
                        <label for="head" id='color_picker_label'>add a color</label>
                        <input type="text" class="d-none" id="color_picker_text" placeholder="Name your color" name="colors[][color_type]">
                        <input type="color" value="#e66465" onchange="test(this)" onkeyup="test(this)" name="colors[][color_code]">
                    </div>
                    <div class="size_class">
                        <p>Size Variant</p>
                        <%= form.fields_for :size do |b| %>
                            <% @sizes.each do |size| %>
                            <%= b.text_field :size_type, class: "", :value => size.size_type, name: "sizes[][size_type]" %>
                            <%= hidden_field_tag :size_id, size.id, name: "sizes[][size_id]" %>
                            <%end%>
                       
                        <%end%>

                    </div>
                    <%= link_to add_color_path, :class => "mt-2 btn btn-warning d-none", id: "add_color", remote: true do %>
                    +
                    <%end%>
                    <%= link_to remove_color_path, :class => "mt-2 btn btn-warning d-none", id: "delete_color", remote: true do %>
                    -
                    <%end%>
                    <%= link_to add_size_path, class: "mt-2 btn btn-warning", id: "add_color", remote: true  do %>
                    +
                    <%end%>
                </div>

                <!--</form>-->

            </div>
            <div class="modal-footer">
                <%= form.submit "Save", :class => "btn btn-primary"  %>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
            </div>

            <%end%>

        </div>
    </div>
</div>

<script>
    document.getElementById('add_color').onclick = function() {
        //create new category div, label, input and color picker
        $("#add_color").addClass("d-none");
    }

    function test(t) {
        console.log(t.value);
        $("#color_picker_text").removeClass("d-none");
        $("#color_picker_label").addClass("d-none");
        $("#add_color").removeClass("d-none");
    }
</script>