<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to <%= AdminConfig[:app_name] %>, <%= @customer.first_name %> <%= @customer.last_name %></h1>
    <p>
      You have successfully signed up to <%= AdminConfig[:app_name] %>,
      your login email is: <%= @customer.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link:<a> <%= @url %> </a>.
    </p>
    <p>
      Your one time password is: <%= @customer.otp %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
