    <!--section start-->
    <section class="cart-section section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table cart-table table-responsive-xs">
                        <thead>
                            <tr class="table-head">
                                <th scope="col">image</th>
                                <th scope="col">product name</th>
                                <th scope="col">price</th>
                                <th scope="col">quantity</th>
                                <th scope="col">action</th>
                                <th scope="col">total</th>
                            </tr>
                        </thead>
                        <% current_cart.order.items.each do |item| %>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/products/<%= item.product.id %>"><%= image_tag item.product.images[item.variant_id.to_i] if item.product.images.length > 0 %></a>
                                </td>
                                <td><a href="#"> <%= item.product.product_name %></a>
                                    <div class="mobile-cart-content row">
                                        <div class="col-xs-3">
                                            <div class="qty-box">
                                                <div class="input-group">
                                                    <input type="text" name="quantity" class="form-control input-number" value="<%= item.quantity %>">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <h2 class="td-color"> <%= number_to_currency(item.price, unit: ' KES ') %> </h2>
                                        </div>
                                        <div class="col-xs-3">
                                            <h2 class="td-color"><a href="/cart/items/<%= item.id %>" data-method="delete" id="item_destroy" data-remote="true"><i class="ti-close"></i></a>
                                            </h2>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h2> <%= number_to_currency(item.price, unit: ' KES ') %> </h2>
                                </td>
                                <td>
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <!--<input type="number" name="quantity" class="form-control input-number"
                                                value="1">-->
                                            <input type="number" name="quantity" class="form-control input-number" value="<%= item.quantity %>">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                <!--<a href="#" class="icon"><i class="ti-close"></i></a>-->
                                    <a href="/cart/items/<%= item.id %>" data-method="delete" id="item_destroy" data-remote="true"><i class="ti-close"></i></a>
                                </td>
                                <td>
                                    <h2 class="td-color"><%= number_to_currency(item.order_total, unit: ' KES ') %></h2>
                                </td>
                            </tr>
                        </tbody>
                        <% end %>
                    </table>
                    <table class="table cart-table table-responsive-md">
                        <tfoot>
                            <tr>
                                <td>total price :</td>
                                <td>
                                    <h2><%= number_to_currency(current_cart.order_subtotal, unit: ' KES ') %></h2>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row cart-buttons">
                <% if current_cart.order.items.count == 0 %>
                <div class="col-6"><a href="<%= root_path %>" class="btn btn-solid">continue shopping</a></div>
                <% else %>
                <div class="col-6"><a href="<%= root_path %>" class="btn btn-solid">continue shopping</a></div>
                <div class="col-6"><a href="<%= checkout_path %>" class="btn btn-solid">check out</a></div>
                <% end %>
            </div>
        </div>
    </section>
    <!--section end-->