<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="multikart">
    <meta name="keywords" content="multikart">
    <meta name="author" content="multikart">

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="../resources/css/fontawesome.css">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="../resources/css/slick.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/slick-theme.css">

    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" href="../resources/css/animate.css">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="../resources/css/themify-icons.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.css">

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="../resources/css/color1.css" media="screen" id="color">

</head>

<body>


    <!-- header start -->
    <%= render "layouts/header" %>
    <!-- header end -->


    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>cart</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">cart</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->


    <!--section start-->
    <section class="cart-section section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table cart-table table-responsive-xs">
                        <thead>
                            <tr class="table-head">
                                <th scope="col">image</th>
                                <th scope="col">product name</th>
                                <th scope="col">price</th>
                                <th scope="col">quantity</th>
                                <th scope="col">action</th>
                                <th scope="col">total</th>
                            </tr>
                        </thead>
                        <% current_cart.order.items.each do |item| %>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/products/<%= item.product.id %>"><%= image_tag item.product.images[0] if item.product.images.length > 0 %></a>
                                </td>
                                <td><a href="#"> <%= item.product.product_name %></a>
                                    <div class="mobile-cart-content row">
                                        <div class="col-xs-3">
                                            <div class="qty-box">
                                                <div class="input-group">
                                                    <input type="text" name="quantity" class="form-control input-number" value="1">
                                                    <%= item.quantity %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <h2 class="td-color"> <%= number_to_currency(item.price, unit: ' KES ') %> </h2>
                                        </div>
                                        <div class="col-xs-3">
                                            <h2 class="td-color"><a href="#" class="icon"><i class="ti-close"></i></a>
                                            </h2>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h2> <%= number_to_currency(item.price, unit: ' KES ') %> </h2>
                                </td>
                                <td>
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <!--<input type="number" name="quantity" class="form-control input-number"
                                                value="1">-->
                                            <input type="number" name="quantity" class="form-control input-number" value="<%= item.quantity %>">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                <!--<a href="#" class="icon"><i class="ti-close"></i></a>-->
                                    <%= form_for item, method: :delete, remote: true do |f| %>
                                    <%= f.submit "X" %>
                                    <% end %>
                                </td>
                                <td>
                                    <h2 class="td-color"><%= number_to_currency(item.order_total, unit: ' KES ') %></h2>
                                </td>
                            </tr>
                        </tbody>
                        <% end %>
                    </table>
                    <table class="table cart-table table-responsive-md">
                        <tfoot>
                            <tr>
                                <td>total price :</td>
                                <td>
                                    <h2><%= number_to_currency(current_cart.order_subtotal, unit: ' KES ') %></h2>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row cart-buttons">
                <% if current_cart.order.items.count == 0 %>
                <div class="col-6"><a href="<%= root_path %>" class="btn btn-solid">continue shopping</a></div>
                <% else %>
                <div class="col-6"><a href="<%= root_path %>" class="btn btn-solid">continue shopping</a></div>
                <div class="col-6"><a href="<%= checkout_path %>" class="btn btn-solid">check out</a></div>
                <% end %>
            </div>
        </div>
    </section>
    <!--section end-->


    <!-- footer start -->
    <%= render "layouts/footer" %>
    <!-- footer end -->


    <!-- tap to top start -->
    <div class="tap-top">
        <div><i class="fa fa-angle-double-up"></i></div>
    </div>

    <!-- latest jquery-->
    <script src="../resources/js/jquery-3.3.1.min.js"></script>

    <!-- menu js-->
    <script src="../resources/js/menu.js"></script>

    <!-- lazyload js-->
    <script src="../resources/js/lazysizes.min.js"></script>

    <!-- popper js-->
    <script src="../resources/js/popper.min.js"></script>

    <!-- slick js-->
    <script src="../resources/js/slick.js"></script>

    <!-- Bootstrap js-->
    <script src="../resources/js/bootstrap.js"></script>

    <!-- Bootstrap Notification js-->
    <script src="../resources/js/bootstrap-notify.min.js"></script>

    <!-- Theme js-->
    <script src="../resources/js/script.js"></script>

    <script>
        function openSearch() {
            document.getElementById("search-overlay").style.display = "block";
        }

        function closeSearch() {
            document.getElementById("search-overlay").style.display = "none";
        }
    </script>
</body>

</html>s