    <!-- header start -->
    <%= render "layouts/header" %>
    <!-- header end -->

    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>cart</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="<%= root_url %>">Home</a></li>
                            <li class="breadcrumb-item active">cart</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->

    <!-- Render the changing section -->
    <div id="cart_item">
        <%= render 'order_items/cart_items' %>
    </div>
    <!-- end of changing section -->
    
    <!-- footer start -->
    <%= render "layouts/footer" %>
    <!-- footer end -->


    <!-- tap to top start -->
    <div class="tap-top">
        <div><i class="fa fa-angle-double-up"></i></div>
    </div>

    <!-- latest jquery-->
    <%= javascript_include_tag 'js/jquery-3.3.1.min.js' %>

    <!-- menu js-->
    <%= javascript_include_tag 'js/menu.js' %>

    <!-- lazyload js-->
    <%= javascript_include_tag 'js/lazysizes.min.js' %>

    <!-- popper js-->
    <%= javascript_include_tag 'js/popper.min.js' %>

    <!-- slick js-->
    <%= javascript_include_tag 'js/slick.js' %>

    <!-- Bootstrap js-->
    <%= javascript_include_tag 'js/bootstrap.js' %>

    <!-- Bootstrap Notification js-->
    <%= javascript_include_tag 'js/bootstrap-notify.min.js' %>

    <!-- Theme js-->
    <%= javascript_include_tag 'js/script.js' %>

    <script>
        function openSearch() {
            document.getElementById("search-overlay").style.display = "block";
        }

        function closeSearch() {
            document.getElementById("search-overlay").style.display = "none";
        }
    </script>