<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order_item.order_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @order_item.product_id %>
</p>

<p>
  <strong>Order number:</strong>
  <%= @order_item.order_number %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order_item.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_item.quantity %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @order_item.discount %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order_item.total %>
</p>

<p>
  <strong>Id sku:</strong>
  <%= @order_item.id_sku %>
</p>

<p>
  <strong>Size:</strong>
  <%= @order_item.size %>
</p>

<p>
  <strong>Color:</strong>
  <%= @order_item.color %>
</p>

<p>
  <strong>Fulfilled:</strong>
  <%= @order_item.fulfilled %>
</p>

<p>
  <strong>Ship date:</strong>
  <%= @order_item.ship_date %>
</p>

<p>
  <strong>Order item:</strong>
  <%= @order_item.order_item_id %>
</p>

<p>
  <strong>Bill date:</strong>
  <%= @order_item.bill_date %>
</p>

<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>
