<%= render "layouts/header" %>
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>customer's login</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="<%= root_url %>">Home</a></li>
                        <li class="breadcrumb-item active">login</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->


<!--section start-->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Login</h3>
                <div class="theme-card">

                    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { class: "theme-form"}) do |f| %>
                    <div class="form-group">
                        <%= f.label :email %>
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: 'Enter your eMail', required: true %>
                    </div>
                    <div class="form-group">
                        <%= f.label :password %>
                        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Enter your password", required: true %>
                    </div>
                    <% if devise_mapping.rememberable? %>
                    <div class="field">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                    </div>
                    <% end %>

                    <%= f.submit 'Log in',  class: "btn btn-solid" %>
                    <% end %>

                    <div class="form-footer">
                        <span>Or Login with social platforms</span>
                        <br>
                        <ul class="social">
                            <br>
                            <li> <%= button_to  '/auth/google_oauth2', :class => "btn social-btn btn-twitter d-inline-block" do %> <i class="fa fa-google"></i> <% end %>
                            </li>
                            <li> <%= button_to  '/auth/facebook', :class => "btn social-btn btn-twitter d-inline-block" do %> <i class="fa fa-facebook"></i> <% end %>
                            </li>
                            <li> <%= button_to  '/users/auth/twitter', :class => "btn social-btn btn-twitter d-inline-block" do %> <i class="fa fa-twitter"></i> <% end %>
                            </li>
                        </ul>
                    </div>
                    <%# link_to "Twitter Login", '/auth/twitter', class: "btn btn-primary mt-5" %>
                    <%# link_to "Log In with Google", '/auth/google_oauth2', class: 'btn btn-primary mt-5' %>

                    <%# link_to "Admin In with Google", '/auth/admin', class: 'btn btn-primary mt-5' %>
                </div>
            </div>
            <div class="col-lg-6 right-login">
                <h3>New Customer</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">Create A Account</h6>
                    <p>Sign up for a free account at our store. Registration is quick and easy. It allows you to be
                        able to order from our shop. To start shopping click register.</p>
                    <%= link_to 'Create an Account', new_customer_registration_path, class: 'btn btn-solid' %>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->


<%= render "layouts/footer" %>


<script>
    function openSearch() {
        document.getElementById("search-overlay").style.display = "block";
    }

    function closeSearch() {
        doc
        ument.getElementById("search-overlay").style.display = "none";
    }
    
</script>


