<!-- page-wrapper Start-->
<div class="page-wrapper">

    <!-- Page Header Start-->
    <%= render 'layouts/admin_header' %>
    <!-- Page Header Ends -->

    <!-- Page Body Start-->
    <div class="page-body-wrapper">

        <!-- Page Sidebar Start-->
        <%= render 'layouts/admin_sidebar' %>
        <!-- Page Sidebar Ends-->

        <!-- Right sidebar Start -->

        <!-- Right sidebar Ends-->

        <div class="page-body">
            <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
            <% end %>
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h3>Categories
                                    <small><%= AdminConfig[:app_name] %> Admin Panel</small>
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="<%= root_url %>"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Physical</li>
                                <li class="breadcrumb-item active">Category</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Products Category</h5>
                            </div>
                            <div class="card-body">
                                <div class="btn-popup pull-right">
                                    <%= link_to new_category_path, :class => "btn btn-primary", remote: true do %>
                                    Add Category
                                    <%end%>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="user-status table-responsive latest-order-table">
                                    <table class="table table-bordernone">
                                        <thead>
                                            <tr>
                                                <th scope="col">Category Name</th>
                                                <th> Actions </th>
                                                <th>SubCategories</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% @categories.reverse.each do |category| %>
                                            <tr>
                                                <td><%= category.category_name %></td>
                                                <td>
                                                    <div>
                                                        <%= link_to 'Edit', edit_category_path(category), :class => "btn btn-secondary", remote: true %>
                                                        <%= link_to 'Delete', category_path(category), method: :delete, data: { confirm: 'Are you sure?'}, :class => "btn btn-primary" %>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <%= link_to 'variants', variants_path(category), class: "btn btn-primary d-none" %>
                                                        <%= link_to show_sub_category_path(category), remote: true do %>

                                                        show
                                                        <i class="fa fa-eye" aria-hidden="true"></i>

                                                        <%end%>
                                                        <%= link_to  new_sub_category_path(category), remote: true do %>
                                                        add
                                                        <i class="fa fa-plus" aria-hidden="true"></i>

                                                        <%end%>

                                                        <%= link_to  edit_sub_category_path(category), remote: true do %>
                                                        edit
                                                        <i class="fa fa-pencil" aria-hidden="true"></i>


                                                        <%end%>

                                                        <%= link_to  delete_sub_category_path(category), remote: true do %>
                                                        delete
                                                        <i class="fa fa-trash" aria-hidden="true"></i>


                                                        <%end%>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->
            </div>
        </div>

        <!-- footer start-->
        <%= render 'layouts/admin_footer' %>
        <!-- footer end-->

    </div>

</div>

<!-- latest jquery-->
<%= javascript_include_tag 'js/jquery-3.3.1.min.js' %>

<!-- Bootstrap js-->
<%= javascript_include_tag 'js/popper.min.js' %>
<%= javascript_include_tag 'js/bootstrap.js' %>

<!-- feather icon js-->
<%= javascript_include_tag 'js/icons/feather-icon/feather.min.js' %>
<%= javascript_include_tag 'js/icons/feather-icon/feather-icon.js' %>

<!-- Sidebar jquery-->
<%= javascript_include_tag 'js/sidebar-menu.js' %>

<!--Customizer admin-->
<%= javascript_include_tag 'js/admin-customizer.js' %>

<!-- Jsgrid js-->
<%= javascript_include_tag 'js/jsgrid/jsgrid.min.js' %>
<%= javascript_include_tag 'js/jsgrid/griddata-manage-product.js' %>
<%= javascript_include_tag 'js/jsgrid/jsgrid-manage-product.js' %>

<!--right sidebar js-->
<%= javascript_include_tag 'js/chat-menu.js' %>

<!--script admin-->
<%= javascript_include_tag 'js/admin-script.js' %>

<!-- include json-editor.js -->
<%= javascript_include_tag 'jsoneditor' %>