<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Multikart admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Multikart admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">


    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" href="../resources/css/fontawesome.css">

    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="../resources/css/flag-icon.css">

    <!-- jsgrid css-->
    <link rel="stylesheet" type="text/css" href="../resources/css/jsgrid.css">

    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.css">

    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="../resources/css/admin.css">
</head>

<body>


    <!-- page-wrapper Start-->
    <div class="page-wrapper">

        <!-- Page Header Start-->
        <%= render 'layouts/admin_header' %>
        <!-- Page Header Ends -->

        <!-- Page Body Start-->
        <div class="page-body-wrapper">

            <!-- Page Sidebar Start-->
            <%= render 'layouts/admin_sidebar' %>
            <!-- Page Sidebar Ends-->

            <!-- Right sidebar Start -->

            <!-- Right sidebar Ends-->

            <div class="page-body">

                <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="page-header-left">
                                    <h3>Category
                                        <small>MelonCoco Admin Panel</small>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <ol class="breadcrumb pull-right">
                                    <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                                    <li class="breadcrumb-item">Physical</li>
                                    <li class="breadcrumb-item active">Category</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->

                <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Products Category</h5>
                                </div>
                                <div class="card-body">
                                    <div class="btn-popup pull-right">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-original-title="test" data-target="#exampleModal">Add Category</button>
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title f-w-600" id="exampleModalLabel">Add Category</h5>
                                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!--<form class="needs-validation">-->
                                                        <%= form_with scope: :category, url: categories_path, local: true do |form| %>
                                                        <div class="form">
                                                            <div class="form-group">
                                                                <label><%= form.label :category_name, :class => "mb-1" %></label>
                                                                <%= form.text_field :category_name, :class => "form-control" %>
                                                            </div>
                                                        </div>
                                                        <!--</form>-->

                                                    </div>
                                                    <div class="modal-footer">
                                                        <%= form.submit "Save", :class => "btn btn-primary"  %>
                                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                                    </div>
                                                    <% end %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="user-status table-responsive latest-order-table">
                                        <table class="table table-bordernone">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Category Name</th>
                                                    <th> Actions </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% @categories.reverse.each do |category| %>
                                                <tr>
                                                    <td><%= category.category_name %></td>
                                                    <td><%= link_to 'Edit', edit_category_path(category), :class => "btn btn-secondary" %></td>
                                                    <td><%= link_to 'Delete', category_path(category), method: :delete, data: { confirm: 'Are you sure?'}, :class => "btn btn-primary" %></td>
                                                </tr>
                                                <% end %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Container-fluid Ends-->
                </div>
            </div>

            <!-- footer start-->
            <%= render 'layouts/admin_footer' %>
            <!-- footer end-->

        </div>

    </div>

    <!-- latest jquery-->
    <script src="../resources/js/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap js-->
    <script src="../resources/js/popper.min.js"></script>
    <script src="../resources/js/bootstrap.js"></script>

    <!-- feather icon js-->
    <script src="../resources/js/icons/feather-icon/feather.min.js"></script>
    <script src="../resources/js/icons/feather-icon/feather-icon.js"></script>

    <!-- Sidebar jquery-->
    <script src="../resources/js/sidebar-menu.js"></script>

    <!--Customizer admin-->
    <script src="../resources/js/admin-customizer.js"></script>

    <!-- Jsgrid js-->
    <script src="../resources/js/jsgrid/jsgrid.min.js"></script>
    <script src="../resources/js/jsgrid/griddata-manage-product.js"></script>
    <script src="../resources/js/jsgrid/jsgrid-manage-product.js"></script>

    <!--right sidebar js-->
    <script src="../resources/js/chat-menu.js"></script>

    <!--script admin-->
    <script src="../resources/js/admin-script.js"></script>