
<body>


    <!-- header start -->
    <%= render "layouts/header" %>
    <!-- header end -->


    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>wishlist</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="<%= root_url %>">Home</a></li>
                            <li class="breadcrumb-item active">wishlist</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->


    <!--section start-->
    <section class="wishlist-section section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table cart-table table-responsive-xs">
                        <thead>
                            <tr class="table-head">
                                <th scope="col">image</th>
                                <th scope="col">product name</th>
                                <th scope="col">price</th>
                                <th scope="col">availability</th>
                                <th scope="col">action</th>
                            </tr>
                        </thead>
                        <% current_customer.wishlists.each do | wishlist |%>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/products/<%= wishlist.product.id %>">
                                        <%= image_tag wishlist.product.images[0] if wishlist.product.images.length > 0 %>
                                    </a>
                                </td>
                                <td><a href="/products/<%= wishlist.product.id %>"><%= wishlist.product.product_name %></a>
                                    <div class="mobile-cart-content row">
                                        <div class="col-xs-3">
                                            <p>in stock</p>
                                        </div>
                                        <div class="col-xs-3">
                                            <h2 class="td-color"><%= number_to_currency(wishlist.product.price, unit: ' KES ') %> </h2>
                                        </div>
                                        <div class="col-xs-3">
                                            <h2 class="td-color"><a href="/wishlists/<%= wishlist.id %>" class="icon mr-3" data-method="delete" id="wishlist_destroy" data-remote="true"></i> </a>
                                                <br><br>
                                                <%= form_tag order_items_path, remote: true do %>
                                                <%= hidden_field_tag :product_id, wishlist.product.id %>
                                                <%= hidden_field_tag :quantity, 1 %>
                                                <%= button_to order_items_path(:product_id => wishlist.product.id), :class => "cart" do %><i class="ti-shopping-cart"></i><% end %>
                                                <% end %>
                                            </h2>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h2><%= number_to_currency(wishlist.product.price, unit: ' KES ') %></h2>
                                </td>
                                <td>
                                    <p>in stock</p>
                                </td>
                                <td>
                                    <a href="/wishlists/<%= wishlist.id %>" class="icon mr-3" data-method="delete" id="wishlist_destroy" data-remote="true"><i class="ti-close"></i></a>
                                    <br><br>
                                    <%= form_tag order_items_path, remote: true do %>
                                    <%= hidden_field_tag :product_id, wishlist.product.id %>
                                    <%= hidden_field_tag :quantity, 1 %>
                                    <%= button_to order_items_path(:product_id => wishlist.product.id), :class => "cart" do %><i class="ti-shopping-cart"></i><% end %>
                                    <% end %>
                                </td>
                            </tr>
                        </tbody>
                        <% end %>
                    </table>
                </div>
            </div>
            <div class="row wishlist-buttons">
                <div class="col-12"><a href="<%= root_url %>" class="btn btn-solid">continue shopping</a> <a href="<%= checkout_path %>" class="btn btn-solid">check out</a></div>
            </div>
        </div>
    </section>
    <!--section end-->

    
    <!-- render tawk live chat -->
    <%= render "layouts/tawk" %>

    <!-- footer start -->
    <%= render "layouts/footer" %>
    <!-- footer end -->


   

    <!-- tap to top start -->
    <div class="tap-top">
        <div><i class="fa fa-angle-double-up"></i></div>
    </div>
    <!-- tap to top end -->


    <!-- latest jquery-->
    <%= javascript_include_tag 'js/jquery-3.3.1.min.js' %>

    <!-- menu js-->
    <%= javascript_include_tag 'js/menu.js' %>

    <!-- lazyload js-->
    <%= javascript_include_tag 'js/menu.js' %>

    <!-- popper js-->
    <%= javascript_include_tag 'js/popper.min.js' %>

    <!-- slick js-->
    <%= javascript_include_tag 'js/slick.js' %>

    <!-- Bootstrap js-->
    <%= javascript_include_tag 'js/bootstrap.js' %>

    <!-- Bootstrap Notification js-->
    <%= javascript_include_tag 'js/bootstrap-notify.min.js' %>

    <!-- Theme js-->
    <%= javascript_include_tag 'js/script.js' %>

    <script>
        function openSearch() {
            document.getElementById("search-overlay").style.display = "block";
        }

        function closeSearch() {
            document.getElementById("search-overlay").style.display = "none";
        }
    </script>
</body>

</html>