
<!-- Modals -->
<div class="modal fade" id="transactionModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">More details about the Transaction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <h6><strong>Order Number.</strong></h6>
                    <p><%= @order.order_number %></p>
                    <hr>

                    <div class="row">
                        <div class="col-6">
                            <h6><strong>Date</strong></h6>
                            <p><%= @transaction.created_at %></p>
                        </div>
                    </div>
                    <hr>
                    <h6><strong>Payment Mode </strong></h6>
                    <p><span class="listview_item chat_available"><%= @transaction.payment_mode %></span></td>
                    </p>
                    <hr>

                    <h6><strong>Customer Details.</strong></h6>
                    <p><strong>Name</strong><%= @transaction.full_names %></a></p>
                    <hr>


                    <h6><strong>Brief Description</strong></h6>
                    <p><%= @order.items.first.product.product_name  %></p>

                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <h6 class="text-left"><strong>Amount</strong></h6>
                            <h3 class="text-left"><%= @transaction.amount%></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-success btn--icon-text px-5" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        $(document).ready(function(){

            // code to read selected table row cell data (values).
            $("#data-table").on('click','.btnSelect',function(){
                // alert("clicked");
                // get the current row
                var currentRow=$(this).closest("tr");

                var col1=$(this).parent().siblings().eq(0).text(); // get current row 1st TD value
                var col2=$(this).parent().siblings().eq(2).text();// get current row 2nd TD
                var id_num=$(this).parent().siblings().eq(1).text();
                var col3=$(this).parent().siblings().eq(3).text(); // get current row 3rd TD

                var results=$(this).parent().siblings('.test-results').text();
                var the_lab=$(this).parent().siblings('.the-lab').text();
                var lab_val=0;


                //alert(col1);

                $("#get-id textarea").val(results);
                $("#get-id #labId").val(lab_val);


                $('#get-id .modal-body .the-id0').val(col1);
                $('#get-id .modal-body .the-id1').val(col2);
                $('#get-id .modal-body .the-id2').val(col3);
                $('#inspectionCodeText').text($('#inspectionCode').val());

                $('#testTittle').html(' <code class="modal_text"> '+id_num+' </code>');


            });
        });
    </script>