 <%= stylesheet_link_tag "css/datatables" %>
<!-- page-wrapper Start-->
<div class="page-wrapper">

    <!-- Page Header Start-->
    <%= render "layouts/admin_header" %>
    <!-- Page Header Ends -->

    <!-- Page Body Start-->
    <div class="page-body-wrapper">

        <!-- Page Sidebar Start-->
        <%= render "layouts/admin_sidebar" %>
        <!-- Page Sidebar Ends-->

        <!-- Right sidebar Start-->
        <!-- Right sidebar Ends-->

        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h3>Transactions
                                    <small><%= AdminConfig[:app_name] %> Admin panel</small>
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="<%= root_url %>"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Sales</li>
                                <li class="breadcrumb-item active">Transactions</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Manage Transactions</h5>
                            </div>
                            <div class="card-body order-datatable">
                                <table class="table table-hover table-striped spacing8" id="basic-1">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Full Names</th>

                                            <th>Payment Mode</th>


                                            <th>Date</th>
                                            <th>Total</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% count = 0 %>
                                        <% @transactions.reverse.each do |transaction| %>
                                        <tr>
                                            <td><%= count += 1 %></td>
                                            <td><%= transaction.full_names %></td>

                                            <td><span class="badge badge-secondary"><%= transaction.payment_mode %></span></td>


                                            <% if transaction.date != nil %>
                                            <td><%= transaction.date.to_date %></td>
                                            <% else %>
                                            <td><%= transaction.created_at.to_date %></td>
                                            <% end %>

                                            <% if transaction.amount != nil %>
                                            <td><%= transaction.amount %></td>
                                            <% else %>
                                            <td><%= transaction.amount %></td>
                                            <% end %>

                                            <td>
                                                <div class='actions row-actions'>

                                                    <%= link_to transaction_path(transaction.id), remote: true, class: "show" do %>
                                                        <span><i class="fa fa-eye" aria-hidden="true"></i></span>
                                                    <% end %>

                                                </div>
                                            </td>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

        </div>

        <!-- footer start-->
        <%= render "layouts/admin_footer" %>
        <!-- footer end-->

    </div>

</div>

<!-- latest jquery-->
<%= javascript_include_tag "js/jquery-3.3.1.min.js" %>

<!-- Bootstrap js-->
<%= javascript_include_tag "js/popper.min.js" %>
<%= javascript_include_tag "js/bootstrap.js" %>

<!-- feather icon js-->
<%= javascript_include_tag "js/icons/feather-icon/feather.min.js" %>
<%= javascript_include_tag "js/icons/feather-icon/feather-icon.js" %>

<!-- Sidebar jquery-->
<%= javascript_include_tag "js/sidebar-menu" %>

<!-- Datatable js-->
<%= javascript_include_tag "js/datatables/jquery.dataTables.min.js" %>
<%= javascript_include_tag "js/datatables/custom-basic" %>

<!--Customizer admin-->
<%= javascript_include_tag "js/admin-customizer.js" %>

<!-- lazyload js-->
<%= javascript_include_tag "js/lazysizes.min.js" %>

<!--right sidebar js-->
<%= javascript_include_tag "js/chat-menu.js" %>

<!--script admin-->
<%= javascript_include_tag "js/admin-script" %>

<script>
    var ordersTable = null
    $(document).ready(function() {
        ordersTable = $("#basic-1").DataTable({
            // alert('databale found');
            // console.log("656565")
        });
        //   PopulateItemsTable();
    });
</script>