<!-- page-wrapper Start-->
<div class="page-wrapper">
  <!-- Page Header Start-->
  <%= render 'layouts/admin_header' %>
  <!-- Page Header Ends -->
  <!-- Page Body Start-->
  <div class="page-body-wrapper">
    <!-- Page Sidebar Start-->
    <%= render 'layouts/admin_sidebar' %>
    <!-- Page Sidebar Ends-->
    <div class="page-body">
      <!-- Container-fluid starts-->
      <div class="container-fluid">
        <div class="page-header">
          <div class="row">
            <div class="col-lg-6">
              <div class="page-header-left">
                <h3>Add Products
                  <small>Multikart Admin panel</small>
                </h3>
              </div>
            </div>
            <div class="col-lg-6">
              <ol class="breadcrumb pull-right">
                <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                <li class="breadcrumb-item">Physical</li>
                <li class="breadcrumb-item active">Add Product</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- Container-fluid Ends-->
      <!-- Container-fluid starts-->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5>Edit Product</h5>
              </div>
              <div class="card-body">
                <div class="row product-adding">
                  <div class="col-lg-5 col-md-5 col-sm-12 pr-2">
                    <div class="add-product">
                      <div class="row">
                        <div class="col-xl-9 xl-50 col-sm-6 col-9">
                          <% if @product.images.attached? %>
                            <%= image_tag @product.images[0], class: "img-fluid image_zoom_1 blur-up lazyloaded", alt: "", id: "big_image" %>
                          <%else%>
                            <%= image_tag 'default_profile', class: "img-fluid image_zoom_1 blur-up lazyloaded", alt: "", id: "big_image" %>
                          <%end%>
                        </div>
                        <div class="col-xl-3 xl-50 col-sm-6 col-3">
                          <ul class="file-upload-product" id="side_gallery">
                            <% if @product.images.attached? %>
                              <% count = 0 %>
                              <% @product.images.each do |image| %>
                                <% count += 1 %>
                                <li>
                                  <div class="box-input-file mb-5">
                                    <%= image_tag  image, onClick: "setBigImage()", "data-id": count, class: "view" %>
                                  </div>
                                </li>
                              <%end%>
                            <%end%>
                            <li>
                              <div class="box-input-file"><input class="upload" type="file"><i class="fa fa-plus"></i></div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-12 pl-2">
                    <%= form_for setup_product(@product), url: "/products/#{@product.id}", method: :PATCH do |form| %>
                      <div class="form row">
                        <div class="form-group col-12 mb-3">
                          <label for="validationCustom01" class=""><strong>Select Category:</strong></label>
                          <%# form.select(:category_id, options_for_select(@categories), {} , {class: "form-control col-xl-8 col-sm-7", prompt: "Select a category", required: true} ) %>
                          <% if @category == nil %>
                            <%= form.select(:category, raw(""), {include_blank: "-- Select One --"}, required: true, class: "input100 p-2 form-control select2" ) %>
                          <%else%>
                            <%= form.select(:category_id, @categories.map {|category| [category["category_name"], category["id"]]}, {include_blank: false}, class: "input100 select2 form-control p-10") %>
                          <%end%>
                        </div>
                        <div class="form-group col-12 mb-3">
                          <label for="validationCustom02" class=""><strong>Price :</strong></label>
                          <%=form.text_field :price, class: "form-control input100" %>
                          <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="form-group col-12 mb-3">
                          <label for="validationCustomUsername" class=""><strong>Product Code :</strong></label>
                          <%=form.text_field :product_code, class: "form-control input100" %>
                          <div class="invalid-feedback offset-sm-4 offset-xl-3">Please choose Valid Code.</div>
                        </div>
                        <div class="form-group col-12 mb-3">
                          <label class=""><strong>Edit Description :</strong></label>
                          <div class="description-sm">
                            <!--<textarea id="" name="product[product_description]" class= "form-control input100 " cols="10" rows="4" value="<%# @product.product_description %>"></textarea>-->
                            <%= form.text_area :product_description , name: "product[product_description]", cols: 10, rows: 4 , class: "form-control input100" %>
                          </div>
                        </div>
                        <div class="form-group col-12 mb-3">
                          <label class=" mb-0"><strong>Total Products :</span></label>
                          <fieldset class="qty-box pl-0">
                            <div class="input-group">
                              <%= form.text_field :product_quantity, class: "touchspin input100"%>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                      <div class="form">
                        <!--<div class="form-group row">
                                                    <label for="exampleFormControlSelect1" class="col-xl-3 col-sm-4 mb-0">Select Size :</label>
                                                    <select class="form-control digits col-xl-8 col-sm-7" id="exampleFormControlSelect1">
                                                        <option>Small</option>
                                                        <option>Medium</option>
                                                        <option>Large</option>
                                                        <option>Extra Large</option>
                                                    </select>
                                                </div>-->
                      </div>
                      <div class="mt-4">
                        <%= form.submit "Edit Product", class: "btn btn-primary  btn-bg" %>
                      </div>
                    <%end%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Container-fluid Ends-->
    </div>
    <!-- footer start-->
    <%= render 'layouts/admin_footer' %>
    <!-- footer end-->
  </div>
</div>
<!-- latest jquery-->
<%= javascript_include_tag 'js/jquery-3.3.1.min.js' %>
<!-- Bootstrap js-->
<%= javascript_include_tag 'js/popper.min.js' %>
<%= javascript_include_tag 'js/bootstrap.js' %>
<%= javascript_include_tag 'js/bootstrap-select.min.js'%>
<!-- feather icon js-->
<%= javascript_include_tag 'js/icons/feather-icon/feather.min.js' %>
<%= javascript_include_tag 'js/icons/feather-icon/feather-icon.js' %>
<!-- Sidebar jquery-->
<%= javascript_include_tag 'js/sidebar-menu' %>
<!-- touchspin js -->
<%= javascript_include_tag 'js/touchspin/vendors.min.js' %>
<%= javascript_include_tag 'js/touchspin/touchspin.js' %>
<%= javascript_include_tag 'js/touchspin/input-groups.min.js' %>
<!-- form validation js-->
<%= javascript_include_tag 'js/dashboard/form-validation-custom.js' %>
<!-- ckeditor js-->
<script src="../../resources/js/editor/ckeditor/ckeditor.js"></script>
<%= javascript_include_tag 'js/editor/ckeditor/styles.js' %>
<%= javascript_include_tag 'js/editor/ckeditor/adapters/jquery.js' %>
<%= javascript_include_tag 'js/editor/ckeditor/ckeditor.custom.js' %>
<!-- Zoom js-->
<%= javascript_include_tag 'js/jquery.elevatezoom.js' %>
<%= javascript_include_tag 'js/zoom-scripts.js' %>
<!--Customizer admin-->
<%= javascript_include_tag 'js/admin-customizer.js' %>
<!-- lazyload js-->
<%= javascript_include_tag 'js/lazysizes.min.js' %>
<!--right sidebar js-->
<%= javascript_include_tag 'js/chat-menu.js' %>
<!--script admin-->
<%= javascript_include_tag 'js/admin-script' %>
<!-- this pages js -->
<script>
  $(document).ready(function() {
      $("#side_gallery img").on("click", function() {
          var data_id = $(this).attr('data-id');
          var product_id = <%= @product.id %>
              console.log(product_id);
          // $("#big_image").attr("src", "<%# url_for(@product.images[data_id])%>")
          $.ajax({
              method: "GET",
              url: "/change_image",
              dataType: 'script',
              format: "js",
              data: {
                  data_id: data_id,
                  product_id: product_id
              }
          })
          // alert("The data-id of clicked item is: " + data_id)
      });
      var data_id = $
  });
  
  function setBigImage() {
  
  }
  $(".upload").on('change', function() {
          alert("reached  ")
  });
</script>
<script>
  // In your Javascript (external .js resource or <script> tag)
  $(document).ready(function() {
      $('.select2').select2();
  });
</script>
<style>
  .box-input-file {
      width: 50px;
      height: 50px;
      background-color: #f1f4fb;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
  
      align-items: center;
      -webkit-box-pack: center;
  
      justify-content: center;
      vertical-align: middle;
  }
  }
</style>
