<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Multikart admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Multikart admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="../resources/images/dashboard/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../resources/images/dashboard/favicon.png" type="image/x-icon">

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" href="../resources/css/fontawesome.css">

    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="../resources/css/flag-icon.css">

    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="../resources/css/icofont.css">

    <!-- Prism css-->
    <link rel="stylesheet" type="text/css" href="../resources/css/prism.css">

    <!-- Chartist css -->
    <link rel="stylesheet" type="text/css" href="../resources/css/chartist.css">

    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.css">

    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="../resources/css/admin.css">
</head>

<!-- page-wrapper Start-->
<div class="page-wrapper">

    <!-- Page Header Start-->
    <div class="page-main-header">
        <div class="main-header-right row">
            <div class="main-header-left d-lg-none">
                <div class="logo-wrapper"><%= image_tag "full-color.png", :class => "blur-up lazyloaded", :width => "179px", :height => "34px", :alt => "logo" %></div>
            </div>
            <div class="mobile-sidebar">
                <div class="media-body text-right switch-sm">
                    <label class="switch"><a href="#"><i id="sidebar-toggle" data-feather="align-left"></i></a></label>
                </div>
            </div>
            <div class="nav-right col">
                <ul class="nav-menus">
                    <li>
                        <form class="form-inline search-form">
                            <div class="form-group">
                                <input class="form-control-plaintext" type="search" placeholder="Search.."><span class="d-sm-none mobile-search"><i data-feather="search"></i></span>
                            </div>
                        </form>
                    </li>
                    <li><a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()"><i data-feather="maximize-2"></i></a></li>
                    <li class="onhover-dropdown"><a class="txt-dark" href="#">
                            <h6>EN</h6>
                        </a>
                        <ul class="language-dropdown onhover-show-div p-20">
                            <li><a href="#" data-lng="en"><i class="flag-icon flag-icon-is"></i> English</a></li>
                        </ul>
                    </li>
                    <li class="onhover-dropdown"><i data-feather="bell"></i><span class="badge badge-pill badge-primary pull-right notification-badge">3</span><span class="dot"></span>
                        <ul class="notification-dropdown onhover-show-div p-0">
                            <li>Notification <span class="badge badge-pill badge-primary pull-right">3</span></li>
                            <li>
                                <div class="media">
                                    <div class="media-body">
                                        <h6 class="mt-0"><span><i class="shopping-color" data-feather="shopping-bag"></i></span>Your order ready for Ship..!</h6>
                                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <div class="media-body">
                                        <h6 class="mt-0 txt-success"><span><i class="download-color font-success" data-feather="download"></i></span>Download Complete</h6>
                                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <div class="media-body">
                                        <h6 class="mt-0 txt-danger"><span><i class="alert-color font-danger" data-feather="alert-circle"></i></span>250 MB trash files</h6>
                                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="txt-dark"><a href="#">All</a> notification</li>
                        </ul>
                    </li>
                    <li class="onhover-dropdown">
                        <div class="media align-items-center"><img class="align-self-center pull-right img-50 rounded-circle blur-up lazyloaded" src="../resources/images/dashboard/man.png" alt="header-user">
                            <div class="dotted-animation"><span class="animate-circle"></span><span class="main-circle"></span></div>
                        </div>
                        <ul class="profile-dropdown onhover-show-div p-20 profile-dropdown-hover">
                            <li><a href="#"><i data-feather="user"></i>Edit Profile</a></li>
                            <li><a href="#"><i data-feather="mail"></i>Inbox</a></li>
                            <li><a href="#"><i data-feather="settings"></i>Settings</a></li>
                            <li><%= link_to destroy_admin_session_path, method: :delete do %> <i data-feather="log-out"></i>Logout<% end %></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-lg-none mobile-toggle pull-right"><i data-feather="more-horizontal"></i></div>
            </div>
        </div>
    </div>
    <!-- Page Header Ends -->

    <!-- Page Body Start-->
    <div class="page-body-wrapper">

        <!-- Page Sidebar Start-->
        <div class="page-sidebar">
            <div class="main-header-left d-none d-lg-block">
                <div class="logo-wrapper"><%= image_tag  "full-color.png", :class => "blur-up lazyloaded", :width => "179px", :height => "34px", :alt => "logo" %></div>
            </div>
            <div class="sidebar custom-scrollbar">
                <div class="sidebar-user text-center">
                    <div><img class="img-60 rounded-circle lazyloaded blur-up" src="../resources/images/dashboard/man.png" alt="#">
                    </div>
                    <h6 class="mt-3 f-14">Admin</h6>
                    <p>general manager.</p>
                </div>
                <ul class="sidebar-menu">
                    <li><a class="sidebar-header" href="index.html"><i data-feather="home"></i><span>Dashboard</span></a></li>
                    <li><a class="sidebar-header" href="#"><i data-feather="box"></i> <span>Products</span><i class="fa fa-angle-right pull-right"></i></a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="#"><i class="fa fa-circle"></i>
                                    <span>Physical</span> <i class="fa fa-angle-right pull-right"></i>
                                </a>
                                <ul class="sidebar-submenu">
                                    <li><%= link_to categories_path do %><i class="fa fa-circle"></i>Category<% end %></li>
                                    <li><%= link_to products_path do %><i class="fa fa-circle"></i>Product List<% end %></li>
                                    <li><%= link_to new_product_path do %><i class="fa fa-circle"></i>Add Product<% end %></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="sidebar-header" href=""><i data-feather="dollar-sign"></i><span>Sales</span><i class="fa fa-angle-right pull-right"></i></a>
                        <ul class="sidebar-submenu">
                            <li><a href="order.html"><i class="fa fa-circle"></i>Orders</a></li>
                            <li><a href="transactions.html"><i class="fa fa-circle"></i>Transactions</a></li>
                        </ul>
                    </li>
                    <li><a class="sidebar-header" href=""><i data-feather="user-plus"></i><span>Users</span><i class="fa fa-angle-right pull-right"></i></a>
                        <ul class="sidebar-submenu">
                            <li><a href="user-list.html"><i class="fa fa-circle"></i>User List</a></li>
                            <li><a href="create-user.html"><i class="fa fa-circle"></i>Create User</a></li>
                        </ul>
                    </li>
                    <li><a class="sidebar-header" href="reports.html"><i data-feather="bar-chart"></i><span>Reports</span></a></li>
                    <li><a class="sidebar-header" href=""><i data-feather="settings"></i><span>Settings</span><i class="fa fa-angle-right pull-right"></i></a>
                        <ul class="sidebar-submenu">
                            <li><a href="profile.html"><i class="fa fa-circle"></i>Profile</a></li>
                        </ul>
                    </li>
                    <li><a class="sidebar-header" href="login.html"><i data-feather="log-in"></i><span>Login</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Page Sidebar Ends-->

        <!-- Right sidebar Start-->

        <!-- Right sidebar Ends-->
        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h3>Add Products
                                    <small>MelonCoco Admin panel</small>
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Physical</li>
                                <li class="breadcrumb-item active">Add Product</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Add Product</h5>
                            </div>
                            <%= form_with scope: :product, url: products_path, remote: true do |form| %>
                            <div class="card-body">
                                <div class="row product-adding">
                                    <div class="col-xl-5">
                                        <div class="add-product">
                                            <div class="row">
                                                <div class="col-xl-9 xl-50 col-sm-6 col-9">
                                                    <img src="../resources/images/pro3/1.jpg" alt="" class="img-fluid image_zoom_1 blur-up lazyloaded">
                                                </div>
                                                <div class="col-xl-3 xl-50 col-sm-6 col-3">
                                                    <ul class="file-upload-product">
                                                        <li>
                                                            <div class="box-input-file"><%= form.file_field :images, multiple: true, class: "upload" %><i class="fa fa-plus"></i></div>
                                                        </li>
                                                        <li>
                                                            <div class="box-input-file"><%= form.file_field :images, multiple: true, class: "upload" %><i class="fa fa-plus"></i></div>
                                                        </li>
                                                        <li>
                                                            <div class="box-input-file"><%= form.file_field :images, multiple: true, class: "upload" %><i class="fa fa-plus"></i></div>
                                                        </li>
                                                        <li>
                                                            <div class="box-input-file"><%= form.file_field :images, multiple: true, class: "upload" %><i class="fa fa-plus"></i></div>
                                                        </li>
                                                        <li>
                                                            <div class="box-input-file"><%= form.file_field :images, multiple: true, class: "upload" %><i class="fa fa-plus"></i></div>
                                                        </li>
                                                        <li>
                                                            <div class="box-input-file"><%= form.file_field :images, multiple: true, class: "upload" %><i class="fa fa-plus"></i></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-7">
                                        <br>
                                        <div class="form">
                                            <div class="form-group mb-3 row">
                                                <label> <%= form.label "Product Name :", class: "col-xl col-sm-4 mb-0" %></label>
                                                <%= form.text_field :product_name, class: "form-control col-xl-8 col-sm-7" %>
                                            </div>
                                            <div class="form-group mb-3 row">
                                                <label> <%= form.label "Price :", class: "col-xl col-sm-4 mb-0" %> </label>
                                                <%= form.number_field :price, class: "form-control col-xl-8 col-sm-7"  %>
                                            </div>
                                            <div class="form-group mb-3 row">
                                                <label for="validationCustomUsername" class="col-xl-3 col-sm-4 mb-0">Product Code :</label>
                                                <input class="form-control col-xl-8 col-sm-7" id="validationCustomUsername" type="text" required="">
                                                <div class="invalid-feedback offset-sm-4 offset-xl-3">Please choose Valid Code.</div>
                                            </div>
                                        </div>
                                        <div class="form">
                                            <div class="form-group row">
                                                <label for="exampleFormControlSelect1" class="col-xl-3 col-sm-4 mb-0">Select Size :</label>
                                                <select class="form-control digits col-xl-8 col-sm-7" id="exampleFormControlSelect1">
                                                    <option>Small</option>
                                                    <option>Medium</option>
                                                    <option>Large</option>
                                                    <option>Extra Large</option>
                                                </select>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-sm-4 mb-0">Total Products :</label>
                                                <fieldset class="qty-box col-xl-9 col-xl-8 col-sm-7 pl-0">
                                                    <div class="input-group">
                                                        <input class="touchspin" type="text" value="1">
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-sm-4">Add Description :</label>
                                                <div class="col-xl-8 col-sm-7 pl-0 description-sm">
                                                    <!--<textarea id="editor1" name="editor1" cols="10" rows="4"></textarea>-->
                                                    <%= form.text_area :product_description, :cols => 10, :rows => 4, id: "editor1" %>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="offset-xl-3 offset-sm-4">
                                            <%= form.submit "Add", class: "btn btn-primary" %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

        </div>

        <!-- footer start-->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 footer-copyright">
                        <p class="mb-0">Copyright 2019 © Multikart All rights reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p class="pull-right mb-0">Hand crafted & made with<i class="fa fa-heart"></i></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer end-->

    </div>

</div>

<!-- latest jquery-->
<script src="../resources/js/jquery-3.3.1.min.js"></script>

<!-- Bootstrap js-->
<script src="../resources/js/popper.min.js"></script>
<script src="../resources/js/bootstrap.js"></script>

<!-- feather icon js-->
<script src="../resources/js/icons/feather-icon/feather.min.js"></script>
<script src="../resources/js/icons/feather-icon/feather-icon.js"></script>

<!-- Sidebar jquery-->
<script src="../resources/js/sidebar-menu.js"></script>

<!-- touchspin js-->
<script src="../resources/js/touchspin/vendors.min.js"></script>
<script src="../resources/js/touchspin/touchspin.js"></script>
<script src="../resources/js/touchspin/input-groups.min.js"></script>

<!-- form validation js-->
<script src="../resources/js/dashboard/form-validation-custom.js"></script>

<!-- ckeditor js-->
<script src="../resources/js/editor/ckeditor/ckeditor.js"></script>
<script src="../resources/js/editor/ckeditor/styles.js"></script>
<script src="../resources/js/editor/ckeditor/adapters/jquery.js"></script>
<script src="../resources/js/editor/ckeditor/ckeditor.custom.js"></script>

<!-- Zoom js-->
<script src="../resources/js/jquery.elevatezoom.js"></script>
<script src="../resources/js/zoom-scripts.js"></script>

<!--Customizer admin-->
<script src="../resources/js/admin-customizer.js"></script>

<!-- lazyload js-->
<script src="../resources/js/lazysizes.min.js"></script>

<!--right sidebar js-->
<script src="../resources/js/chat-menu.js"></script>

<!--script admin-->
<script src="../resources/js/admin-script.js"></script>

</body>

</html>