
<!-- page-wrapper Start-->
<div class="page-wrapper">

    <!-- Page Header Start-->
    <%= render 'layouts/admin_header' %>
    <!-- Page Header Ends -->

    <!-- Page Body Start-->
    <div class="page-body-wrapper">

        <!-- Page Sidebar Start-->
        <%= render 'layouts/admin_sidebar' %>
        <!-- Page Sidebar Ends-->

        <!-- Right sidebar Start-->

        <!-- Right sidebar Ends-->
        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h3>Add Products
                                    <small>MelonCoco Admin panel</small>
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Physical</li>
                                <li class="breadcrumb-item active">Add Product</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Add Product</h5>
                            </div>
                            <%= form_with scope: :product, url: products_path, remote: true do |form| %>
                            <div class="card-body">
                                <div class="row product-adding">
                                    <div class="col-xl-5">
                                        <div class="add-product">
                                            <div class="row">
                                                <div class="col-xl-9 xl-50 col-sm-6 col-9">
                                                    <img src="../resources/images/pro3/1.jpg" alt="" class="img-fluid image_zoom_1 blur-up lazyloaded">
                                                </div>
                                                <div class="col-xl-3 xl-50 col-sm-6 col-3">
                                                    <ul class="file-upload-product">
                                                        <li>
                                                            <%= form.file_field :images, multiple: true %>
                                                        </li>
                                                        <!--<li>
                                                            <div class="box-input-file">
                                                                <%# if @product.images.attached? %>
                                                                    <%# image_tag  "filename_with_extension" %>
                                                                <%#else%>
                                                                    <%# form.file_field :images, multiple: true, class: "upload" %><i class="fa fa-plus"></i>
                                                                <%#end%>
                                                            </div>
                                                            
                                                        </li>
                                                        <li>
                                                            <div class="box-input-file"><%# form.file_field :images, multiple: true, class: "upload" %><i class="fa fa-plus"></i></div>
                                                        </li>
                                                        <li>
                                                            <div class="box-input-file"><%# form.file_field :images, multiple: true, class: "upload" %><i class="fa fa-plus"></i></div>
                                                        </li>
                                                        <li>
                                                            <div class="box-input-file"><%# form.file_field :images, multiple: true, class: "upload" %><i class="fa fa-plus"></i></div>
                                                        </li>
                                                        <li>
                                                            <div class="box-input-file"><%# form.file_field :images, multiple: true, class: "upload" %><i class="fa fa-plus"></i></div>
                                                        </li>-->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-7">
                                        <br>
                                        <div class="form">
                                            <div class="form-group mb-3 row">
                                                <label for="exampleFormControlSelect1" class="col-xl-3 col-sm-4 mb-0">Select Category:</label>
                                                <%= select_tag :category_id, options_for_select(@categories), :prompt => "Select Category", :class => "form-control digits col-xl-8 col-sm-7" %>
                                            </div>
                                            <div class="form-group mb-3 row">
                                                <label> <%= form.label "Product Name :", class: "col-xl col-sm-4 mb-0" %></label>
                                                <%= form.text_field :product_name, class: "form-control col-xl-8 col-sm-7" %>
                                            </div>
                                            <div class="form-group mb-3 row">
                                                <label> <%= form.label "Price :", class: "col-xl col-sm-4 mb-0" %> </label>
                                                <%= form.number_field :price, class: "form-control col-xl-8 col-sm-7"  %>
                                            </div>
                                            <div class="form-group mb-3 row">
                                                <label for="validationCustomUsername" class="col-xl-3 col-sm-4 mb-0">Product Code :</label>
                                                <!--<input class="form-control col-xl-8 col-sm-7" id="validationCustomUsername" type="text" required="">
                                                <div class="invalid-feedback offset-sm-4 offset-xl-3">Please choose Valid Code.</div>-->
                                                <%= form.text_field :product_code, :class => "form-control col-xl-8 col-sm-7", required: true %>
                                            </div>
                                        </div>
                                        <div class="form">
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-sm-4 mb-0">Total Products :</label>
                                                <fieldset class="qty-box col-xl-9 col-xl-8 col-sm-7 pl-0">
                                                    <div class="input-group">
                                                        <!--<input class="touchspin" type="text" value="1">-->
                                                        <%= form.number_field :product_quantity, :class => "product_counter", :value => 1, min: 0, max: 1000 %>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <!-- displays size and color variants -->
                                            <div id="variants" >
                                            </div>
                                            <div class="form-group row d-none">
                                                <label class="col-xl-3 col-sm-4">Add Description :</label>
                                                <div class="col-xl-8 col-sm-7 pl-0 description-sm">
                                                    <!--<textarea id="editor1" name="editor1" cols="10" rows="4"></textarea>-->
                                                    <%= form.text_area :product_description, :cols => 10, :rows => 4, id: "editor1" %>

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-sm-4">Add Description :</label>
                                                <div class="col-xl-8 col-sm-7 pl-0 description-sm">
                                                    <textarea id="editor1" name="editor1" cols="10" rows="4"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="offset-xl-3 offset-sm-4">
                                            <%= form.submit "Add", class: "btn btn-primary" %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

        </div>

        <!-- footer start-->
        <%= render 'layouts/admin_footer' %>
        <!-- footer end-->

    </div>

</div>

<!-- latest jquery-->
<%= javascript_include_tag 'js/jquery-3.3.1.min.js' %>


<!-- Bootstrap js-->
<%= javascript_include_tag 'js/popper.min.js' %>
<%= javascript_include_tag 'js/bootstrap.js' %>

<!-- feather icon js-->
<%= javascript_include_tag 'js/icons/feather-icon/feather.min.js' %>
<%= javascript_include_tag 'js/icons/feather-icon/feather-icon.js' %>

<!-- Sidebar jquery-->
<%= javascript_include_tag 'js/sidebar-menu' %>

<!-- touchspin js -->
<%= javascript_include_tag 'js/touchspin/vendors.min.js' %>
<%= javascript_include_tag 'js/touchspin/touchspin.js' %>
<%= javascript_include_tag 'js/touchspin/input-groups.min.js' %>

<!-- form validation js-->
<%= javascript_include_tag 'js/dashboard/form-validation-custom.js' %>

<!-- ckeditor js-->
<%= javascript_include_tag 'js/editor/ckeditor/ckeditor.js' %>
<%= javascript_include_tag 'js/editor/ckeditor/styles.js' %>
<%= javascript_include_tag 'js/editor/ckeditor/adapters/jquery.js' %>
<%= javascript_include_tag 'js/editor/ckeditor/ckeditor.custom.js' %>

<!-- Zoom js-->
<%= javascript_include_tag 'js/jquery.elevatezoom.js' %>
<%= javascript_include_tag 'js/zoom-scripts.js' %>

<!--Customizer admin-->
<%= javascript_include_tag 'js/admin-customizer.js' %>

<!-- lazyload js-->
<%= javascript_include_tag 'js/lazysizes.min.js' %>

<!--right sidebar js-->
<%= javascript_include_tag 'js/chat-menu.js' %>

<!--script admin-->
<%= javascript_include_tag 'js/admin-script' %>

<script>
    $('#product_product_quantity input').on("click", function() {
        alert("clicked");
    });
    var product_counter = document.getElementById("product_product_quantity")
    var category = document.getElementById("category_id")
    category.addEventListener('change', function (evt) {
        // alert("reached");
        console.log(evt);
        $.post("/product_counter",
        {
            product_count: product_counter.value,
            category_id: category.value
        }

        );
    })
    product_counter.addEventListener('input', function(evt) {
        // alert("reached");
        console.log(evt);
        $.post("/product_counter",
        {
            product_count: product_counter.value,
            category_id: category.value
        }

        );
    })

</script>
