<!-- page-wrapper Start-->
<div class="page-wrapper">

    <!-- Page Header Start-->
    <%= render 'layouts/admin_header' %>
    <!-- Page Header Ends -->

    <!-- Page Body Start-->
    <div class="page-body-wrapper">

        <!-- Page Sidebar Start-->
        <%= render 'layouts/admin_sidebar' %>
        <!-- Page Sidebar Ends-->

        <!-- Right sidebar Start-->

        <!-- Right sidebar Ends-->
        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h3>Add Product
                                    <small><%= AdminConfig[:app_name] %> Admin panel</small>
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="<%= root_url %>"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Physical</li>
                                <li class="breadcrumb-item active">Add Product</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Add Product</h5>
                            </div>
                            <%= form_with scope: :product, url: products_path, local: true do |form| %>
                            <div class="card-body">
                                <div class="row product-adding">
                                    <div class="col-lg-5 col-md-5 col-sm-12 pr-2 d-none">
                                        <div class="add-product">
                                            <div class="row">
                                                <div class="col-xl-9 xl-50 col-sm-6 col-9 d-none">
                                                    <img src="../resources/images/pro3/1.jpg" alt="" class="img-fluid image_zoom_1 blur-up lazyloaded" id="preview_image">
                                                </div>
                                                <div class="col-xl-12 xl-50 col-sm-12 col-12">
                                                    <ul class="file-upload-product">
                                                        <li>
                                                            <%# form.label "Upload Products", class: 'required' %>
                                                            <br>
                                                            <%# form.file_field :images, multiple: true %>
                                                        </li>
                                                        <!--<li>
                                                            <div class="box-input-file">
                                                                <%# if @product.images.attached? %>
                                                                <%# image_tag  "filename_with_extension" %>
                                                                <%#else%>
                                                                <%# form.file_field :images, class: "upload" %><i class="fa fa-plus"></i>
                                                                <%#end%>
                                                            </div>

                                                        </li>
                                                        <li>
                                                            <div class="box-input-file"><%# form.file_field :images, multiple: true, class: "upload" %><i class="fa fa-plus"></i></div>
                                                        </li>
                                                        <li>
                                                            <div class="box-input-file"><%# form.file_field :images, multiple: true, class: "upload" %><i class="fa fa-plus"></i></div>
                                                        </li>
                                                        <li>
                                                            <div class="box-input-file"><%# form.file_field :images, multiple: true, class: "upload" %><i class="fa fa-plus"></i></div>
                                                        </li>
                                                        <li>
                                                            <div class="box-input-file"><%# form.file_field :images, multiple: true, class: "upload" %><i class="fa fa-plus"></i></div>
                                                        </li>-->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-12 pl-2">
                                        <div class="form row">
                                            <div class="form-group col-12 mb-3">
                                                <strong> <%= form.label "Upload Products", class: 'required' %> </strong>
                                                <br>
                                                <%= form.file_field :images, multiple: true, class: " btn", required: true %>
                                            </div>
                                            <div class="form-group col-12 mb-3">
                                                <strong> <%= form.label "Select Category", class: 'required' %> </strong>
                                                <%= form.collection_select :category_id, @categories, :id, :category_name, {:prompt => "Select Category"}, {:class => "form-control input100", :required => true} %>
                                            </div>
                                            <div class="form-group col-12 mb-3">
                                                <strong> <%= form.label "Select Sub Category"%> </strong>
                                                <%= select_tag :sub_category_id, options_for_select(@subcategories), :prompt => "Select Sub Category", :class => "form-control input100 d-none" %>
                                                <%= form.collection_select :sub_category_id, @subcategories, :id, :name, {:prompt => "Select a Sub Category"}, {:class=>"sub_category_selection form-control input100"} %>
                                            </div>
                                            <div class="form-group col-12 mb-3">
                                                <label> <strong><%= form.label "Product Name", class: "required" %></strong></label>
                                                <%= form.text_field :product_name, class: "form-control input100", :prompt => "Enter Products Name", required: true %>
                                            </div>
                                            <div class="form-group col-12 mb-3">
                                                <label> <strong> <%= form.label "Discount Available :", class: "" %> </strong> </label>
                                                <%= form.check_box :discount_available, class: ""  %>
                                            </div>
                                            <div class="form-group col-4 mb-3">
                                                <label> <strong> <%= form.label "Price :", class: "required" %> </strong> </label>
                                                <%= form.number_field :price, class: "form-control input100", required: true  %>
                                            </div>
                                            <div class="form-group col-4 mb-3">
                                                <label> <strong> <%= form.label "Discount :", class: "" %> </strong> </label>
                                                <%= form.text_field :discount, class: "form-control input100"  %>
                                            </div>
                                            <div class="form-group col-4 mb-3">
                                                <label> <strong> <%= form.label "New Price :", class: "" %> </strong> </label>
                                                <%= form.number_field :unit_price, class: "form-control input100"  %>
                                            </div>
                                            
                                            <div class="form-group col-12 mb-3">
                                                <label for="validationCustomUsername" class="required"> <strong> Year : </strong> </label>
                                                <%= form.text_field :year, :class => "form-control input100", required: true %>
                                            </div>
                                            <div class="form-group col-12 mb-3">
                                                <label class="required"><strong>Total Products :</strong></label>
                                                <fieldset class="qty-box pl-0">
                                                    <div class="input-group">
                                                        <!--<input class="touchspin" type="text" value="1">-->
                                                        <%# form.number_field :product_quantity, :class => "product_counter touchspin", :value => 1, min: 0, max: 1000 %>
                                                        <%= form.number_field :product_quantity, :class => "touchspin input100", :min => 1 , :max => 1000000, value: 1 %>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <!-- displays size and color variants -->
                                            <div id="variants d-none">
                                            </div>
                                            <div class="form-group col-12 mb-3">
                                                <label for="validationCustomUsername" class=""> <strong> Product Code : </strong> </label>
                                                <%= form.text_field :product_code, :class => "form-control input100", required: false %>
                                            </div>
                                            <div class="form-group col-12 mb-3">
                                                <label class="required"><strong>Add Description :</strong></label>
                                                <div class="description-sm">
                                                    <!--<textarea id="editor1" name="editor1" cols="10" rows="4"></textarea>-->
                                                    <%= form.text_area :product_description, :cols => 10, :rows => 4, id: "editor1" %>

                                                </div>
                                                <div class="fileupload d-none">

                                                    <%# form.label :product_images, "Upload images" %>
                                                    <%# form.file_field :product_images, multiple: true %>

                                                </div>
                                                <div class="mt-4">
                                                    <%= form.submit "Add Product", class: "btn btn-primary btn-bg" %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

        </div>


        <!-- footer start-->
        <%= render 'layouts/admin_footer' %>
        <!-- footer end-->

    </div>

</div>



<!-- feather icon js-->
<%= javascript_include_tag 'js/icons/feather-icon/feather.min.js' %>
<%= javascript_include_tag 'js/icons/feather-icon/feather-icon.js' %>

<!-- Sidebar jquery-->
<%= javascript_include_tag 'js/sidebar-menu' %>

<!-- touchspin js -->
<%= javascript_include_tag 'js/touchspin/vendors.min.js' %>
<%= javascript_include_tag 'js/touchspin/touchspin.js' %>
<%= javascript_include_tag 'js/touchspin/input-groups.min.js' %>

<!-- form validation js-->
<%= javascript_include_tag 'js/dashboard/form-validation-custom.js' %>

<script>
    window.CKEDITOR_BASEPATH = '/assets/js/ckeditor/';
</script>
<!-- ckeditor js-->
<%= javascript_include_tag 'js/ckeditor/ckeditor.js' %>
<%= javascript_include_tag 'js/ckeditor/ckeditor/config.js' %>
<%= javascript_include_tag 'js/ckeditor/config.js' %>


<%
=begin%>
 <script src="../../../resources/js/editor/ckeditor/ckeditor.js"></script>  
<%
=end%>

<%= javascript_include_tag 'js/ckeditor/styles.js' %>
<%= javascript_include_tag 'js/ckeditor/adapters/jquery.js' %>
<%= javascript_include_tag 'js/ckeditor/ckeditor.custom.js' %>

<!-- Zoom js-->
<%= javascript_include_tag 'js/jquery.elevatezoom.js' %>
<%= javascript_include_tag 'js/zoom-scripts.js' %>

<!--Customizer admin-->
<%= javascript_include_tag 'js/admin-customizer.js' %>

<!-- lazyload js-->
<%= javascript_include_tag 'js/lazysizes.min.js' %>

<!--right sidebar js-->
<%= javascript_include_tag 'js/chat-menu.js' %>

<!--script admin-->
<%= javascript_include_tag 'js/admin-script' %>

<!-- Cropper js -->
<%= javascript_include_tag "cropper" %>
<%# javascript_include_tag 'jquery.ui.widget/jquery.ui.widget.js' %>
<!-- Include file uploader -->
<%= javascript_include_tag 'jquery-fileupload.js' %>


<script>
    // $('#product_product_quantity input').on("click", function() {
    //     alert("clicked");
    // });
    // var product_counter = document.getElementById("product_product_quantity")
    var category = document.getElementById("product_category_id")

    // removing this temporarily
    category.addEventListener('change', function (evt) {
        // alert("reached");
        console.log(evt);
        // debugger
        // $.post("/product_counter",
        // {
        //     product_count: product_counter.value,
        //     category_id: category.value
        // }

        // );
        $.get("/subcategories",
        {
            category_id: evt.target.value
        });
    })
    // product_counter.addEventListener('input', function(evt) {
    //     // alert("reached");
    //     console.log(evt);
    //     $.post("/product_counter",
    //     {
    //         product_count: product_counter.value,
    //         category_id: category.value
    //     }

    //     );
    // })
    $(".upload").change(function(e) {

        readURL(this);

    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            // var image = null
            reader.onload = function(e) {
                $('.upload').attr('src', e.target.result);

                // send to controller once image is fully uploaded
                $.ajax({
                    method: "POST",
                    url: "/crop_pic",
                    dataType: 'script',
                    format: "js",
                    data: {
                        image_data: $(".upload").attr('src')
                    }
                })
            }

            reader.readAsDataURL(input.files[0]); // convert to base64 string


        }
    }
</script>

<script id="template-upload" type="text/javascript">
    // $('#fileupload').fileupload({
    //      dropZone: $(this),
    //      uploadTemplateId: null,
    //      downloadTemplateId: null
    // });

    // $('#fileupload').fileupload({
    //     dataType: 'json',
    //     done: function(e, data) {
    //         alert('done');
    //     },
    //     add: function(e, data) {
    //         // alert('Uploading...');
    //     },
    //     // uploadTemplateId: null,
    //     downloadTemplateId: null

    // });
</script>