<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Multikart admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Multikart admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="../resources/images/dashboard/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../resources/images/dashboard/favicon.png" type="image/x-icon">

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" href="../resources/css/fontawesome.css">

    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="../resources/css/flag-icon.css">

    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="../resources/css/icofont.css">

    <!-- Prism css-->
    <link rel="stylesheet" type="text/css" href="../resources/css/prism.css">

    <!-- Chartist css -->
    <link rel="stylesheet" type="text/css" href="../resources/css/chartist.css">

    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.css">

    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="../resources/css/admin.css">
</head>

<!-- page-wrapper Start-->
<div class="page-wrapper">

    <!-- Page Header Start-->
    <%= render 'layouts/admin_header' %>
    <!-- Page Header Ends -->

    <!-- Page Body Start-->
    <div class="page-body-wrapper">

        <!-- Page Sidebar Start-->
        <%= render 'layouts/admin_sidebar' %>
        <!-- Page Sidebar Ends-->

        <!-- Right sidebar Start-->

        <!-- Right sidebar Ends-->
        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h3>Add Products
                                    <small>MelonCoco Admin panel</small>
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Physical</li>
                                <li class="breadcrumb-item active">Add Product</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Add Product</h5>
                            </div>
                            <%= form_with scope: :product, url: products_path, remote: true do |form| %>
                            <div class="card-body">
                                <div class="row product-adding">
                                    <div class="col-xl-5">
                                        <div class="add-product">
                                            <div class="row">
                                                <div class="col-xl-9 xl-50 col-sm-6 col-9">
                                                    <img src="../resources/images/pro3/1.jpg" alt="" class="img-fluid image_zoom_1 blur-up lazyloaded">
                                                </div>
                                                <div class="col-xl-3 xl-50 col-sm-6 col-3">
                                                    <ul class="file-upload-product">
                                                        <li>
                                                            <%= form.file_field :images, multiple: true %>
                                                        </li>
                                                       <!-- <li>
                                                            <div class="box-input-file"><%= form.file_field :images, multiple: true, class: "upload" %><i class="fa fa-plus"></i></div>
                                                        </li>
                                                        <li>
                                                            <div class="box-input-file"><%= form.file_field :images, multiple: true, class: "upload" %><i class="fa fa-plus"></i></div>
                                                        </li>
                                                        <li>
                                                            <div class="box-input-file"><%= form.file_field :images, multiple: true, class: "upload" %><i class="fa fa-plus"></i></div>
                                                        </li>
                                                        <li>
                                                            <div class="box-input-file"><%= form.file_field :images, multiple: true, class: "upload" %><i class="fa fa-plus"></i></div>
                                                        </li>
                                                        <li>
                                                            <div class="box-input-file"><%= form.file_field :images, multiple: true, class: "upload" %><i class="fa fa-plus"></i></div>
                                                        </li>-->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-7">
                                        <br>
                                        <div class="form">
                                            <div class="form-group mb-3 row">
                                                <label for="exampleFormControlSelect1" class="col-xl-3 col-sm-4 mb-0">Select Category:</label>
                                                <%= select_tag :category_id, options_for_select(@categories), :prompt => "Select Category", :class => "form-control digits col-xl-8 col-sm-7" %>
                                            </div>
                                            <div class="form-group mb-3 row">
                                                <label> <%= form.label "Product Name :", class: "col-xl col-sm-4 mb-0" %></label>
                                                <%= form.text_field :product_name, class: "form-control col-xl-8 col-sm-7" %>
                                            </div>
                                            <div class="form-group mb-3 row">
                                                <label> <%= form.label "Price :", class: "col-xl col-sm-4 mb-0" %> </label>
                                                <%= form.number_field :price, class: "form-control col-xl-8 col-sm-7"  %>
                                            </div>
                                            <div class="form-group mb-3 row">
                                                <label for="validationCustomUsername" class="col-xl-3 col-sm-4 mb-0">Product Code :</label>
                                                <!--<input class="form-control col-xl-8 col-sm-7" id="validationCustomUsername" type="text" required="">
                                                <div class="invalid-feedback offset-sm-4 offset-xl-3">Please choose Valid Code.</div>-->
                                                <%= form.text_field :product_code, :class => "form-control col-xl-8 col-sm-7", required: true %>
                                            </div>
                                        </div>
                                        <div class="form">
                                            <div class="form-group row">
                                                <label for="exampleFormControlSelect1" class="col-xl-3 col-sm-4 mb-0">Select Size :</label>
                                                <%= select_tag :size_id, options_for_select(@sizes), :prompt => "Select Sizes", :class => "form-control digits col-xl-8 col-sm-7" %>

                                            </div>
                                            <div class="form-group row">
                                                <label for="exampleFormControlSelect1" class="col-xl-3 col-sm-4 mb-0">Select Color :</label>
                                                <%= select_tag :color_id, options_for_select(@colors), :prompt => "Select Colors", :class => "form-control digits col-xl-8 col-sm-7" %>

                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-sm-4 mb-0">Total Products :</label>
                                                <fieldset class="qty-box col-xl-9 col-xl-8 col-sm-7 pl-0">
                                                    <div class="input-group">
                                                        <!--<input class="touchspin" type="text" value="1">-->
                                                        <%= form.number_field :product_quantity, :class => "touchspin", :value => "1" %>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-sm-4">Add Description :</label>
                                                <div class="col-xl-8 col-sm-7 pl-0 description-sm">
                                                    <!--<textarea id="editor1" name="editor1" cols="10" rows="4"></textarea>-->
                                                    <%= form.text_area :product_description, :cols => 10, :rows => 4, id: "editor1" %>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="offset-xl-3 offset-sm-4">
                                            <%= form.submit "Add", class: "btn btn-primary" %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

        </div>

        <!-- footer start-->
        <%= render 'layouts/admin_footer' %>
        <!-- footer end-->

    </div>

</div>

<!-- latest jquery-->
<script src="../resources/js/jquery-3.3.1.min.js"></script>

<!-- Bootstrap js-->
<script src="../resources/js/popper.min.js"></script>
<script src="../resources/js/bootstrap.js"></script>

<!-- feather icon js-->
<script src="../resources/js/icons/feather-icon/feather.min.js"></script>
<script src="../resources/js/icons/feather-icon/feather-icon.js"></script>

<!-- Sidebar jquery-->
<script src="../resources/js/sidebar-menu.js"></script>

<!-- touchspin js-->
<script src="../resources/js/touchspin/vendors.min.js"></script>
<script src="../resources/js/touchspin/touchspin.js"></script>
<script src="../resources/js/touchspin/input-groups.min.js"></script>

<!-- form validation js-->
<script src="../resources/js/dashboard/form-validation-custom.js"></script>

<!-- ckeditor js-->
<script src="../resources/js/editor/ckeditor/ckeditor.js"></script>
<script src="../resources/js/editor/ckeditor/styles.js"></script>
<script src="../resources/js/editor/ckeditor/adapters/jquery.js"></script>
<script src="../resources/js/editor/ckeditor/ckeditor.custom.js"></script>

<!-- Zoom js-->
<script src="../resources/js/jquery.elevatezoom.js"></script>
<script src="../resources/js/zoom-scripts.js"></script>

<!--Customizer admin-->
<script src="../resources/js/admin-customizer.js"></script>

<!-- lazyload js-->
<script src="../resources/js/lazysizes.min.js"></script>

<!--right sidebar js-->
<script src="../resources/js/chat-menu.js"></script>

<!--script admin-->
<script src="../resources/js/admin-script.js"></script>

</body>

</html>