<% if AdminConfig[:shop_number] == "1" %>

    <%= render "defaults/products_show" %>
<%else%>
<!-- loader start -->
<!-- loader end -->
<%= include_gon %>
<!-- header start -->
<%= render 'layouts/header' %>
<!-- header end -->


<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>product</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="<%= root_url %>">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">product</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->


<!-- section start -->
<section>
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-10 col-xs-12">
                    <div class="product-right-slick">
                        <!--- Image with thumbnail -->
                        <% (0...@product.images.count).each do |image| %>
                        <% image_tag(@product.thumbnail(image), class: "") %>
                        <%end%>
                        <!--- image with thumbnail -->

                        <% if @product.images.attached? %>
                        <% @product.images.each  do |product_image| %>
                        <div>
                            <%= image_tag (product_image) , :class => "img-fluid blur-up lazyload image_zoom_cls-0" %>
                        </div>
                        <%end%>
                        <%else%>
                        <div>
                            <%= image_tag ("default_profile") , :class => "img-fluid blur-up lazyload" %>
                        </div>
                        <%end%>
                    </div>
                </div>

                <div class="col-lg-1 col-sm-2 col-xs-12">
                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="slider-right-nav">

                                <!--- Image with thumbnail -->
                                <% (0...@product.images.count).each do |image| %>
                                <% image_tag(@product.thumbnail(image), class: "") %>
                                <%end%>
                                <!--- image with thumbnail -->

                                <% if @product.images.attached? %>
                                <% @product.images.each  do |product_image| %>
                                <div>
                                    <%= image_tag (product_image) , :class => "img-fluid blur-up lazyload image_zoom_cls-0" %>
                                </div>
                                <%end%>
                                <%else%>
                                <div>
                                    <%= image_tag ("default_profile") , :class => "img-fluid blur-up lazyload" %>
                                </div>
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 rtl-text">
                    <div class="product-right">
                        <div class="product-right product-description-box">
                            <h2 id="product_name"><%= @product.product_name %></h2>

                            <p>Retail Price</p>
                            <% if @category.variants.keys.count > 3 %>
                            <h3 id="rrp"><%= number_to_currency(@category.rrp.first , :unit => ' KES ') %></h3>
                            <%else%>
                            <h3 id="rrp"><%= number_to_currency(@product.price , :unit => ' KES ') %></h3>
                            <%end%>
                            <br />

                            <p>WholeSale Price:</p>
                            <% if @category.variants.keys.count > 3 %>
                            <h3 id="whole_sale"><%= number_to_currency(@category.whole_sale.first , :unit => ' KES ') %></h3>
                            <%else%>
                            <h3 id="whole_sale"><%= number_to_currency(@product.price , :unit => ' KES ') %></h3>
                            <%end%>
                            <br />
                           
                            <div class="average-review-rating" data-score=<%= @average_review %>></div>
                            <a href="<%= product_reviews_path(@product.id) %>"><span class="number-of-reviews">From: <%= @product.reviews.count %> reviews </span> </a>
                            <div class="border-product">
                            </div>
                            <h3><%= number_to_currency(@product.price , :unit => ' KES ') %></h3>
                            <ul class="color-variant">
                                <% @product.colors.uniq.each  do |color| %>
                                <li class="product-colors" style="background-color:<%= color.color_code %>" value="<%= color.color_type %>"></li>
                                <%end%>
                            </ul>

                            <div class="product-description ">
                                <div class="border-product">
                                    <!--<h6 class="product-title size-text">select size <span><a href="" data-toggle="modal" data-target="#sizemodal">size chart</a></span></h6>-->
                                    <div class="modal fade" id="sizemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                              Home  <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Sheer Straight Kurta</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                </div>
                                                <div class="modal-body"><img src="../assets/images/size-chart.jpg" alt="" class="img-fluid blur-up lazyload"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="size-box">
                                        <ul class="d-flex">
                                            <%count = 0%>
                                            <% if @category.name != nil %>
                                            <% @category.name.each do |name| %>
                                            <li class="variants" id="<%= "variants#{count}"%>"><%= name %></li>
                                            <% count = count + 1 %>
                                            <%end%>
                                            <%end%>
                                        </ul>
                                    </div>
                                    <div>
                                        <p id="discount"></p>
                                    </div>
                                    <h6 class="product-title">quantity</h6>
                                    <%= form_tag order_items_path, remote: true do %>
                                    <%= hidden_field_tag :current_moq, @category.moq.first %>
                                    <%= hidden_field_tag :rrp_price, @category.rrp.first %>
                                    <%= hidden_field_tag :whole_sale_price, @category.whole_sale.first %>
                                    <%= text_field_tag :product_id, @product.id, class: "d-none" %>
                                    

                                    <div class="qty-box">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <button type="button" class="btn quantity-left-minus" data-type="minus" data-field=""><i class="ti-angle-left"></i></button>
                                            </span>
                                            <!--<input type="text" name="quantity" class="form-control input-number" value="1"> <span class="input-group-prepend"><button type="button" class="btn quantity-right-plus" data-type="plus" data-field=""><i class="ti-angle-right"></i></button></span></div>-->
                                            <%= number_field_tag :quantity, 1, min: 1, :class => "form-control input-number" %>
                                            <span class="input-group-prepend">
                                                <button type="button" class="btn quantity-right-plus" data-type="plus" data-field=""><i class="ti-angle-right"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                    <!--<div class="product-buttons"><a href="#" data-toggle="modal" data-target="#addtocart" class="btn btn-solid">add to cart</a><a href="#" class="btn btn-solid">buy now</a></div>    -->
                                </div>
                                <div class="product-buttons">
                                    <%= button_to order_items_path(:product_id => @product.id), { :class => "btn btn-solid ", 'data-toggle' => 'modal', 'data-target' => '#addtocart', id: "to_cart" } do %>
                                     add to cart 
                                    <% end %>
                                    
                                </div>
                            </div>
                            <% end %>
                            <div class="border-product d-none">
                                <h6 class="product-title">product details</h6>

                                <%# raw(@product.product_description) %>

                            </div>
                            <div class="border-product">
                                <h6 class="product-title">share it</h6>
                                <div class="product-icon">
                                    <ul class="product-social">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li><a><i class="fa fa-whatsapp"></i></a></li>
                                    </ul>
                                    <% if customer_signed_in? %>
                                    <% if @wishlist_exists == true %>
                                    <%= link_to wishlists_update_path(product: @product), :class => "wishlist-btn", remote: true do %>
                                    <i class="fa fa-heart" style="color:#ff4c3b;"></i><span id="wishlist_link" class="title-font" style="color:#ff4c3b;">Remove from Wishlist</span>
                                    <% end %>
                                    <% else %>
                                    <%= link_to wishlists_update_path(product: @product), :class => "wishlist-btn", remote: true do %>
                                    <i class="fa fa-heart" style="color:#ff4c3b;"></i><span id="wishlist_link" class="title-font" style="color:#ff4c3b; ">Add To WishList</span>
                                    <% end %>
                                    <% end %>
                                    <% else %>
                                    <a href="<%= new_customer_session_path %>" class="wishlist-btn" style="color:#000;"><i class="fa fa-heart"></i><span class="title-font">Add To WishList</span></a>
                                    <% end %>
                                </div>
                            </div>
                            <!--<div class="border-product">
                                <h6 class="product-title">Time Reminder</h6>
                                <div class="timer">
                                    <p id="demo"><span>25 <span class="padding-l">:</span> <span class="timer-cal">Days</span> </span><span>22 <span class="padding-l">:</span> <span class="timer-cal">Hrs</span>
                                        </span><span>13 <span class="padding-l">:</span> <span class="timer-cal">Min</span> </span><span>57 <span class="timer-cal">Sec</span></span>
                                    </p>
                                </div>
                            </div>-->
                            <div class="single-product-tables border-product detail-section d-none">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Fabric:</td>
                                            <td>Chiffon</td>
                                        </tr>
                                        <tr>
                                            <td>Color:</td>
                                            <td>Red</td>
                                        </tr>
                                        <tr>
                                            <td>Material:</td>
                                            <td>Crepe printed</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="border-product d-none">
                                <h6 class="product-title">100% SECURE PAYMENT</h6>
                                <div class="payment-card-bottom">
                                    <ul>
                                        <li>
                                            <a href="https://www.safaricom.co.ke/personal/m-pesa" target="_blank"><%= image_tag "mpesa.png", :width => "30px", :height => "30px"%></a>
                                        </li>
                                        <li>
                                            <a href="https://www.visa.co.ke/" target="_blank"><img src="../resources/images/icon/visa.png" alt="" width="30px" height="30px"></a>
                                        </li>
                                        <li>
                                            <a href="https://www.mastercard.us/en-us.html" target="_blank"><img src="../resources/images/icon/mastercard.png" alt="" width="30px" height="30px"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-none">
                        <div class="product-right product-form-box">
                            <h3><%= number_to_currency(@product.price, :unit => ' KES ') %></h3>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                            <div class="product-description border-product">
                                <h6 class="product-title">select size</h6>
                                <div class="modal fade" id="sizemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Sheer Straight Kurta</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body"><img src="../resources/images/size-chart.jpg" alt="" class="img-fluid blur-up lazyload"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="size-box">
                                    <ul>
                                        <li class="active"><a href="#">s</a></li>
                                        <li><a href="#">m</a></li>
                                        <li><a href="#">l</a></li>
                                        <li><a href="#">xl</a></li>
                                    </ul>
                                </div>
                                <h6 class="product-title">quantity</h6>
                                <%= form_tag order_items_path, remote: true do %>
                                <%# hidden_field_tag :product_id, @product.id %>
                                <div class="qty-box">
                                    <div class="input-group"><span class="input-group-prepend"><button type="button" class="btn quantity-left-minus" data-type="minus" data-field=""><i class="ti-angle-left"></i></button> </span>
                                        <!--<input type="text" name="quantity" class="form-control input-number" value="1"> <span class="input-group-prepend"><button type="button" class="btn quantity-right-plus" data-type="plus" data-field=""><i class="ti-angle-right"></i></button></span></div>-->
                                        <%= number_field_tag :quantity, 1, min: 1, :class => "form-control input-number" %><span class="input-group-prepend"><button type="button" class="btn quantity-right-plus" data-type="plus" data-field=""><i class="ti-angle-right"></i></button></span></div>
                                </div>
                                <!--<div class="product-buttons"><a href="#" data-toggle="modal" data-target="#addtocart" class="btn btn-solid">add to cart</a><a href="#" class="btn btn-solid">buy now</a></div>    -->
                            </div>
                            <div class="product-buttons">
                                <%= button_to order_items_path(:product_id => @product.id), { :class => "btn btn-solid", 'data-toggle' => 'modal', 'data-target' => '#addtocart' } do %> add to cart <% end %> </div>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->

<%# render "layouts/tawk" %>

<!-- product-tab starts -->
<section class="tab-product m-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                    <li class="nav-item"><a class="nav-link active" id="top-home-tab" data-toggle="tab" href="#top-home" role="tab" aria-selected="true">Description</a>
                        <div class="material-border"></div>
                    </li>
                    <li class="nav-item"><a class="nav-link" id="profile-top-tab" data-toggle="tab" href="#top-profile" role="tab" aria-selected="false">Details</a>
                        <div class="material-border"></div>
                    </li>
                    <li class="nav-item"><a class="nav-link" id="review-top-tab" data-toggle="tab" href="#top-review" role="tab" aria-selected="false">Write Review</a>
                        <div class="material-border"></div>
                    </li>
                </ul>
                <div class="tab-content nav-material" id="top-tabContent">
                    <div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
                        <p><%= raw(@product.product_description) %> </p>
                    </div>
                    <div class="tab-pane fade" id="top-profile" role="tabpanel" aria-labelledby="profile-top-tab">
                        <p><%= @product.product_code %></p>
                        <div class="single-product-tables">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Scent:</td>
                                        <td>-</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Color:</td>
                                        <td>-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="top-review" role="tabpanel" aria-labelledby="review-top-tab">
                        <%= form_for([@product, @product.reviews.build]) do | f | %>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div id="rating-form">
                                    <label>Rating</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="review">Review Description </label>
                                <%= f.text_area :comment, :class => "form-control", :id => "exampleFormControlTextarea1", :rows => "6" %>
                                <br>
                            </div>
                            <div class="col-md-12">
                                <%= f.button "Submit Your Review", :class => "btn btn-solid" %>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product-tab ends -->

<br>
<!-- product section start -->

<section class="section-b-space pt-0 ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col-12 product-related">
                <h2>related products</h2>
            </div>
        </div>
        <div class="row search-product">
            <% Product.all.limit(6).each do | product | %>
            <div class="col-xl-2 col-md-4 col-sm-6">
                <div class="product-box">
                    <div class="img-wrapper">
                        <div class="front">
                            <% if product.images.attached? %>
                            <a href="/products/<%= product.id %>"><%= image_tag (product.images[0] if product.images.length > 0) , :class => "img-fluid blur-up lazyload bg-img" %></a>
                            <%else%>
                            <a href="/products/ <%= product.id %>"><%= image_tag "default_profile", :class => "img-fluid blur-up lazyload bg-img" %></a>
                            <%end%>
                        </div>
                        <div class="back">
                            <% if product.images.attached? %>
                            <a href="/products/<%= product.id %>"><%= image_tag (product.images[0] if product.images.length > 0) , :class => "img-fluid blur-up lazyload bg-img" %></a>
                            <%else%>
                            <a href="/products/ <%= product.id %>"><%= image_tag "default_profile", :class => "img-fluid blur-up lazyload bg-img" %></a>
                            <%end%>
                        </div>
                        <div class="cart-info cart-wrap">
                        </div>
                    </div>
                    <div class="product-detail">
                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                        <a href="product-page(no-sidebar).html">
                            <h6><%= product.product_name %></h6>
                        </a>
                        <h4><%= number_to_currency(product.price, :unit => ' KES ') %></h4>
                        <!--<ul class="color-variant">
                            <li class="bg-light0"></li>
                            <li class="bg-light1"></li>
                            <li class="bg-light2"></li>
                        </ul> -->
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</section>

<!-- product section end -->


<!-- footer start -->
<%= render 'layouts/footer' %>
<!-- footer end -->


<!-- theme setting -->
<!-- theme setting -->


<!-- Add to cart modal popup start-->
<div class="modal fade bd-example-modal-lg theme-modal cart-modal" id="addtocart" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body modal1">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="modal-bg addtocart">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="media">
                                    <a href="#">
                                        <%# image_tag (@product.images[0] if @product.images.length > 0) , :class => "img-fluid blur-up lazyload pro-img" %>
                                    </a>
                                    <div class="media-body align-self-center text-center">
                                        <a href="#">
                                            <h6>
                                                <i class="fa fa-check"></i>Item
                                                <span><%= @product.product_name %></span>
                                                <span> successfully added to your Cart</span>
                                            </h6>
                                        </a>
                                        <div class="buttons">
                                            <a href="<%= cart_path %>" class="view-cart btn btn-solid">Your cart</a>
                                            <a href=" <%= checkout_path%>" class="checkout btn btn-solid">Check out</a>
                                            <a href="<%= root_path %>" class="continue btn btn-solid">Continue shopping</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="product-section">
                                    <div class="col-12 product-upsell text-center">
                                        <h4>Customers who bought this item also.</h4>
                                    </div>
                                    <div class="row" id="upsell_product">
                                        <% Product.all.limit(4).each do | prod | %>
                                        <div class="product-box col-sm-3 col-6">
                                            <div class="img-wrapper">
                                                <div class="front">
                                                    <% if prod.images.attached? %>
                                                    <a href="/products/<%= prod.id %>">
                                                        <%= image_tag (prod.images[0] if prod.images.length > 0) , :class => "img-fluid blur-up lazyload mb-1" %>
                                                    </a>
                                                    <%else%>
                                                    <a href="/products/ <%= prod.id %>"><%= image_tag "default_profile", :class => "img-fluid blur-up lazyload bg-img" %></a>
                                                    <%end%>
                                                </div>
                                                <div class="product-detail">
                                                    <h6><a><span><%= prod.product_name %></span></a></h6>
                                                    <h4><span><%= number_to_currency(prod.price, :unit => ' KES ') %></span></h4>
                                                </div>
                                            </div>

                                        </div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add to cart modal popup end-->


<!-- tap to top start -->
<div class="tap-top">
    <div><i class="fa fa-angle-double-up"></i></div>
</div>
<!-- tap to top end -->

<!-- latest jquery-->
<%= javascript_include_tag 'js/jquery-3.3.1.min.js' %>

<!-- fly cart ui jquery-->
<%= javascript_include_tag 'js/jquery-ui.min.js' %>

<!-- jquery raty -->
<%= javascript_include_tag 'js/jquery.raty'%>

<!-- exitintent jquery-->
<%= javascript_include_tag 'js/jquery.exitintent.js' %>
<%= javascript_include_tag 'js/exit.js' %>

<!-- popper js-->
<%= javascript_include_tag 'js/popper.min.js' %>


<!-- slick js-->
<%= javascript_include_tag 'js/slick.js' %>


<!-- menu js-->
<%= javascript_include_tag 'js/menu.js' %>


<!-- lazyload js-->
<%= javascript_include_tag 'js/lazysizes.min.js' %>


<!-- Bootstrap js-->
<%= javascript_include_tag 'js/bootstrap.js' %>


<!-- Bootstrap Notification js-->
<%= javascript_include_tag 'js/bootstrap-notify.min.js' %>


<!-- Fly cart js-->
<%= javascript_include_tag 'js/fly-cart.js' %>

<!-- Theme js-->
<%= javascript_include_tag 'js/script.js' %>



<script>
    function openSearch() {
        document.getElementById("search-overlay").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("search-overlay").style.display = "none";
    }
</script>

<%= javascript_include_tag 'js/admin-script' %>


<script>
    $('#rating-form').raty({
        path: '/assets/',
        scoreName: 'review[rating]'
    });

    $('.average-review-rating').raty({
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>

<script>
    $(document).ready(function() {
        reloadPage();

        function reloadPage() {
            (function() {
                if (window.localStorage) {
                    if (!localStorage.getItem('firstLoad')) {
                        localStorage['firstLoad'] = true;
                        window.location.reload();
                    } else
                        localStorage.removeItem('firstLoad');
                }
            })();
        }

    });
    var color_buttons = document.getElementsByClassName("product-colors")
    var category = gon.category;
    var product = gon.product;
    console.log(color_buttons)

    for (var i = 0; i < color_buttons.length; i++) {
        let color = color_buttons[i].attributes.value.value;
        color_buttons[i].addEventListener('click', color_changed, true);
    }

    function color_changed() {
        // alert("reached");
        console.log("Color Changed: Make an action here")
    }
    

    $(".variants").on('click', function(e) {
        // debugger
        $(".variants").removeClass("active")
        $("#" + e.currentTarget.id).addClass("active")
        // alert(e.delegateTarget)
        console.log(e);
        let name = e.delegateTarget.innerHTML;


        let names = category.variants.name;
        let index = names.indexOf(name);


        $("#rrp").text("KES " + category.variants.rrp[index]);
        $("#rrp_price").val(category.variants.rrp[index]);
        $("#whole_sale").text("KES " + category.variants.whole_sale[index]);
        $("#whole_sale_price").val(category.variants.whole_sale[index]);
        $("#current_moq").val(category.variants.moq[index]);
        $("#discount").text("Wholesale at: " + category.variants.moq_description[index]);


       
    })
    $(".input-group-prepend").on('click', function(e){
        // alert("quantity changed")
    })
    $("#quantity").on("change keyup paste", function(e){
        // alert("input changed")
    })
    $("#variants0").addClass("active")
    $("#discount").text("Wholesale at: " + category.variants.moq_description[0])
    // $("#to_cart").setEnabled(false)
    
    // location.reload();

    // $(document).ready(function() {
    //     reloadPage();

    //     function reloadPage() {
    //         (function() {
    //             if (window.localStorage) {
    //                 if (!localStorage.getItem('firstLoad')) {
    //                     localStorage['firstLoad'] = true;
    //                     window.location.reload();
    //                 } else
    //                     localStorage.removeItem('firstLoad');
    //             }
    //         })();
    //     }

    // });

    // location.reload();
</script>
<%end%>
