<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @product.product_id %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Id sku:</strong>
  <%= @product.id_sku %>
</p>

<p>
  <strong>Vendor product:</strong>
  <%= @product.vendor_product_id %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Product description:</strong>
  <%= @product.product_description %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @product.supplier_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category_id %>
</p>

<p>
  <strong>Quantity per unit:</strong>
  <%= @product.quantity_per_unit %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @product.unit_price %>
</p>

<p>
  <strong>Msrp:</strong>
  <%= @product.msrp %>
</p>

<p>
  <strong>Available size:</strong>
  <%= @product.available_size %>
</p>

<p>
  <strong>Available colors:</strong>
  <%= @product.available_colors %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.color %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @product.discount %>
</p>

<p>
  <strong>Unit weight:</strong>
  <%= @product.unit_weight %>
</p>

<p>
  <strong>Units in stock:</strong>
  <%= @product.units_in_stock %>
</p>

<p>
  <strong>Units on order:</strong>
  <%= @product.units_on_order %>
</p>

<p>
  <strong>Reorder level:</strong>
  <%= @product.reorder_level %>
</p>

<p>
  <strong>Product available:</strong>
  <%= @product.product_available %>
</p>

<p>
  <strong>Discount available:</strong>
  <%= @product.discount_available %>
</p>

<p>
  <strong>Current order:</strong>
  <%= @product.current_order %>
</p>

<p>
  <strong>Note:</strong>
  <%= @product.note %>
</p>

<p>
  <strong>Ranking:</strong>
  <%= @product.ranking %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
