<%= render 'layouts/header' %>


<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>review</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="<%= root_url %>">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">review</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->

<%= render @product.reviews %>

<%= render "layouts/tawk" %>


<!-- footer start -->
<%= render 'layouts/footer' %>
<!-- footer end -->


<!-- tap to top start -->
<div class="tap-top">
    <div><i class="fa fa-angle-double-up"></i></div>
</div>
<!-- tap to top end -->

<!-- latest jquery-->
<%= javascript_include_tag 'js/jquery-3.3.1.min.js' %>

<!-- fly cart ui jquery-->
<%= javascript_include_tag 'js/jquery-ui.min.js' %>

<%= javascript_include_tag 'js/jquery.raty.js'%>

<script>
    $('.review-rating').raty({
        readOnly: true,
        score: function() {
            return $(this).attr('data-score')
        },
        path: '/assets/'
    });
</script>