<div class="page-main-header">
    <div class="main-header-right row">
        <div class="main-header-left d-lg-none">
            <div class="logo-wrapper"><%= image_tag "logo-green-horizontal" %></div>
        </div>
        <div class="mobile-sidebar">
            <div class="media-body text-right switch-sm">
                <label class="switch"><a href="#"><i id="sidebar-toggle" data-feather="align-left"></i></a></label>
            </div>
        </div>
        <div class="nav-right col">
            <ul class="nav-menus">
                <li>
                    <form class="form-inline search-form">
                        <div class="form-group">
                            <input class="form-control-plaintext" type="search" placeholder="Search.."><span class="d-sm-none mobile-search"><i data-feather="search"></i></span>
                        </div>
                    </form>
                </li>
                <li><a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()"><i data-feather="maximize-2"></i></a></li>
                <li class="onhover-dropdown"><a class="txt-dark" href="#">
                        <h6>EN</h6>
                    </a>
                    <ul class="language-dropdown onhover-show-div p-20">
                        <li><a href="#" data-lng="en"><i class="flag-icon flag-icon-is"></i> English</a></li>
                    </ul>
                </li>
                <li class="onhover-dropdown"><i data-feather="bell"></i><span class="badge badge-pill badge-primary pull-right notification-badge"><%= Home.where(notification_read: false).count %></span>
                    <ul class="notification-dropdown onhover-show-div p-0">
                        <li>Notification <span class="badge badge-pill badge-primary pull-right"><%= Home.where(notification_read: false).count %></span></li>
                        <% Home.where(notification_read: false).each do |notification| %>
                        <%= link_to notification_show_path(notification.id) do %>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h6 class="mt-0 txt-success"><%= notification.notification_first_name %> <%= notification.notification_last_name %> - <%= notification.notification_phone_number %></h6>
                                    <p class="mb-0"><%= notification.notification_message %></p>
                                </div>
                            </div>
                        </li>
                        <% end %>
                        <% end %>
                        <li class="txt-dark">
                            <%= link_to notifications_path do %>
                                All notification
                            <% end %>
                        
                        </li>
                    </ul>
                </li>
                <li class="onhover-dropdown">
                    <div class="media align-items-center">
                        <% if current_admin %>
                        <%= image_tag (current_admin.avatar_thumbnail), :class => "align-self-center pull-right img-50 rounded-circle blur-up lazyloaded" %>
                        <% end %>
                        <div class=""><span class="animate-circle"></span><span class="main-circle"></span></div>
                    </div>
                    <ul class="profile-dropdown onhover-show-div p-20 profile-dropdown-hover">
                        <li><a href="#"><i data-feather="user"></i>Edit Profile</a></li>
                        <li><a href="#"><i data-feather="mail"></i>Inbox</a></li>
                        <li><a href="#"><i data-feather="settings"></i>Settings</a></li>
                        <li>
                            <%= link_to logout_path do %>
                            <i data-feather="log-out"></i>Logout
                            <% end %>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="d-lg-none mobile-toggle pull-right"><i data-feather="more-horizontal"></i></div>
        </div>
    </div>
</div>