<%# action_cable_meta_tag %>
<%= include_gon %>
<% if admin_signed_in? %>
<!DOCTYPE html>
<html>

<head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Multikart admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Multikart admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">

    <%= favicon_link_tag 'logo-green-horizontal.svg' %>

    <title><%= "#{AdminConfig[:app_name]} Admin "%></title>

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "css/color1.css" %>

    <!-- Font Awesome-->
    <%= stylesheet_link_tag "css/fontawesome" %>

    <!-- Flag icon-->
    <%= stylesheet_link_tag "css/flag-icon.css" %>

    <!-- ico-font-->
    <%= stylesheet_link_tag 'css/icofont.css' %>

    <!-- Themify icon -->
    <%= stylesheet_link_tag 'css/themify-icons' %>

    <!-- Prism css-->
    <%= stylesheet_link_tag 'css/prism' %>

    <!-- Chartist css -->
    <%= stylesheet_link_tag 'css/chartist' %>

    <!-- Bootstrap css-->
    <%= stylesheet_link_tag 'css/bootstrap' %>
    <%= stylesheet_link_tag 'css/bootstrap-select.min.css'%>

    <!-- App css-->
    <%= stylesheet_link_tag 'css/admin' %>

    <!-- Cropper css -->
    <%# stylesheet_link_tag 'cropper' %>

    <!-- JsonEditor css -->
    <%= stylesheet_link_tag 'jsoneditor/dist/jsoneditor' %>

    <!-- jquery widgets -->
    <%# stylesheet_link_tag "" %>

    <!-- file upload -->
    <%= stylesheet_link_tag 'jquery.fileupload' %>

    

      
</head>

<body>
    <% if notice %>
    <p class="alert alert-success"><%= notice %>porn</p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
    <%= yield %>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

</body>


</html>


<% else %>
<!DOCTYPE html>
<html>

<head>
    <title><%= AdminConfig[:app_name] %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <!-- Icons -->
    <%= stylesheet_link_tag "css/fontawesome" %>

    <!--Slick slider css-->
    <%= stylesheet_link_tag "css/slick.css" %>
    <%= stylesheet_link_tag "css/slick-theme.css" %>

    <!-- Animate icon -->
    <%= stylesheet_link_tag "css/animate.css" %>

    <!-- Themify icon -->
    <%= stylesheet_link_tag "css/themify-icons.css" %>

    <!-- Bootstrap css -->
    <%= stylesheet_link_tag "css/bootstrap" %>

    <!-- Theme css -->
    <!-- <link rel="stylesheet" type="text/css" href="../resources/css/color1.css" media="screen" id="color">-->
    <%= stylesheet_link_tag "css/color1.css" %>

    <!-- Cropper css -->
    <%# stylesheet_link_tag 'cropper' %>

    <%= favicon_link_tag 'logo-green-horizontal.png' %>
</head>

<body>

    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <!-- Render Payments modal -->
    <%= render 'layouts/payment_modal' %>

    <!-- Render Theme setting btn -->
    <%# render "layouts/theme_setting" %>
    <%= yield %>

    <% if AdminConfig["shop_number"] == "1" %>
    <%= render "layouts/tawk" %>
    <%else%>
    <%= render 'layouts/whatsapp' %>
    <%end%>

</body>


</html>


<%end%>